/* ==========================================================================
   COMPONENTS / DEFENCE
   ========================================================================== */

/**
 * Sets classic-masthead sass-mq breakpoint.
 */
@include mq-add-breakpoint(classic-masthead, 768px);

/**
 * Repair alterations to the current masthead caused by the Toolkit.
 */
#skycom-masthead-wrapper {
  background: #fff;
  font-size: 16px;
  box-sizing: content-box;

  /**
   * Fixed media-query value set by the current masthead.
   */
  @include mq(classic-masthead) {
    padding-bottom: 10px;
  }
}

/**
 * Repair alterations to the current footer caused by the Toolkit.
 */
.skycom-footer {
  font-size: 16px;
  box-sizing: content-box;
}

.skycom-footer__nav {
  ul {
    margin-left: 0;
  }
}

/**
 * Repair alterations to the current message banners caused by the Toolkit.
 */
.skycom-message-container {
  font-size: 14px;
  box-sizing: content-box;
}

/**
 * Repair links affected by 768px media query.
 */
@include mq($from: classic-masthead) {
  a {
    color: color(brand);
    text-decoration: none;
  }
}

.skycom_container {
  max-width: 1140px;

  @include mq($from: classic-masthead) {
    max-width: 1140px;
  }
}
