<section class="o-container">
  <h2 id="ui-buttons" class="c-heading-beta">Buttons</h2>
  <p>
    <button class="c-btn">Button</button>
    <button class="c-btn  c-btn--primary ">Primary</button>
    <button class="c-btn  c-btn--secondary">Secondary</button>
    <button class="c-btn  c-btn--secondary-invert">Secondary (invert)</button>
    <button class="c-btn  c-btn--primary  is-disabled" disabled>Disabled (state)</button>
    <button class="c-btn  c-btn--primary  is-error">Error (state)</button>
  </p>
  <h3 class="c-heading-gamma">Select</h3>
  <p>
    <label class="c-select">
      <input type="checkbox" class="c-select__input" />
      <span class="c-btn  c-btn--select  c-select__btn">Select</span>
    </label>
  </p>
  <p>is-selected class variation, results in cancel icon on hover</p>
  <p>
    <label class="c-select">
      <input type="checkbox" class="c-select__input is-selected" />
      <span class="c-btn  c-btn--select  c-select__btn">Select</span>
    </label>
  </p>
  <h3 class="c-heading-gamma">Radio</h3>
  <p>
    <label class="c-select">
      <input type="radio" class="c-select__input" name="name"/>
      <span class="c-btn  c-btn--select  c-select__btn">A</span>
    </label>
    <label class="c-select">
      <input type="radio" class="c-select__input" name="name"/>
      <span class="c-btn  c-btn--select  c-select__btn">B</span>
    </label>
  </p>
</section>
