<section class="o-container">
  <h2 id="ui-forms" class="c-heading-beta">Forms</h2>
  <form>
    <fieldset>
      <legend>Example form</legend>
      <ul class="c-form-list">
        <li class="c-form-list__item">
          <label class="c-form-label" for="f-username">
            Username <abbr title="This field is required" class="c-form-required">*</abbr>
          </label>
          <input type="text" class="c-form-input" placeholder="e.g. hulk42" name="f-username" id="f-username"/>
          <p class="c-text-caption">This is a caption explaining how this input field works and suggests what the user might enter into it.</p>
        </li>
        <li class="c-form-list__item is-error">
          <label class="c-form-label" for="f-username">
            Username <abbr title="This field is required" class="c-form-required">*</abbr>
          </label>
          <input type="text" class="c-form-input" placeholder="e.g. hulk42" name="f-username" id="f-username"/>
          <p class="c-text-caption">This is a field which has triggered validation errors, and can be invoked by adding the <code>is-error</code> class to the parent tag.</p>
        </li>
        <li class="c-form-list__item">
          <label class="c-form-label" for="f-email">
            Email <abbr title="This field is required" class="c-form-required">*</abbr>
          </label>
          <input type="email" class="c-form-input" placeholder="e.g. ironman@avengers.com" name="f-email" id="f-email"/>
        </li>
        <li class="c-form-list__item">
          <span class="c-form-label">
            Select a hero <abbr title="This field is required" class="c-form-required">*</abbr>
          </span>
          <div class="c-form-select">
            <select class="c-form-select__dropdown">
              <option value="" disabled selected>Heroes</option>
              <option value="captainAmerica">Captain America</option>
              <option value="ironMan">Iron Man</option>
              <option value="blackWidow">Black Widow</option>
              <option value="thor">Thor</option>
            </select>
          </div>
        </li>
        <li class="c-form-list__item  c-form-pair">
          <span class="c-form-pair__label">
            <label class="c-form-label  u-margin-right">
              Which side?
            </label>
          </span>
          <span class="c-form-pair__input">
            <label class="c-form-checkbox  c-form-checkbox--radio  u-margin-bottom-small">
              <input type="radio" class="c-form-checkbox__input" name="f-side" id="f-side_1" value="good"/>
              <span class="c-form-checkbox__faux"></span>
              Good
            </label>
            <label class="c-form-checkbox  c-form-checkbox--radio">
              <input type="radio" class="c-form-checkbox__input" name="f-side" id="f-side_2" value="evil"/>
              <span class="c-form-checkbox__faux"></span>
              Evil
            </label>
          </span>
        <li>
        <li class="c-form-list__item">
          <label class="c-form-label" for="f-date">
            Date of birth
          </label>
          <input type="date" class="c-form-date" placeholder="dd/mm/yyyy" name="f-date" id="f-date"/>
        </li>
        <li class="c-form-list__item">
          <label class="c-form-label" for="f-message">
            Message
          </label>
          <textarea class="c-form-input  c-form-input--long" placeholder="Enter a message" name="f-message" id="f-message"></textarea>
        </li>
        <li class="c-form-list__item">
          <label class="c-form-checkbox">
            <input type="checkbox" class="c-form-checkbox__input" name="f-terms" id="f-terms_1" value="1"/>
            <span class="c-form-checkbox__faux"></span>
            I agree to the terms &amp; conditions
          </label>
        <li>
        <li class="c-form-list__item">
          <label class="c-form-label" for="f-combo">
            Enter your postcode
          </label>
          <div class="c-form-combo">
              <div class="c-form-combo__cell">
                  <input type="text" class="c-form-combo__input  c-form-input" placeholder="e.g. LS10 1QG" name="f-combo" id="f-combo">
              </div>
              <div class="c-form-combo__cell">
                  <button class="c-form-combo__btn  c-btn c-btn--primary">Find address</button>
              </div>
          </div>
        <li>
        <li class="c-form-list__item">
          <label class="c-form-label" for="f-inline-a">
            Credit card number
          </label>
          <div class="c-form-inline">
            <input type="text" class="c-form-input  c-form-inline__field" placeholder="1234" name="f-inline-d" id="f-inline-a"/>
            <input type="text" class="c-form-input  c-form-inline__field" placeholder="5678" name="f-inline-d" id="f-inline-b"/>
            <input type="text" class="c-form-input  c-form-inline__field" placeholder="9101" name="f-inline-y" id="f-inline-c"/>
            <input type="text" class="c-form-input  c-form-inline__field" placeholder="2134" name="f-inline-y" id="f-inline-c"/>
          </div>
          <p class="c-text-caption">You can put any number of inputs in here and they will fill the width of the form.</p>
        </li>
      </ul>
    </fieldset>
  </form>
</section>
