<section class="o-container  u-margin-bottom">
  <h2 id="ui-menus" class="c-heading-sub">Menus</h2>
  <article>
    <h3 class="c-heading-section">Dropdown</h3>
    <div class="c-dropdown  u-margin-bottom">
      <input type="checkbox" class="c-dropdown__input" id="c-dropdown-1">
      <label for="c-dropdown-1" class="c-dropdown__label">Dropdown menu</label>
      <ul class="c-dropdown__list">
        <li class="c-dropdown__item">
          <a href="#" class="c-dropdown__link">Menu item 1</a>
        </li>
        <li class="c-dropdown__item">
          <a href="#" class="c-dropdown__link">Menu item 2</a>
        </li>
        <li class="c-dropdown__item">
          <a href="#" class="c-dropdown__link">Menu item 3</a>
        </li>
        <li class="c-dropdown__item">
          <a href="#" class="c-dropdown__link">Menu item 4</a>
        </li>
      </ul>
    </div>
    <p class="c-text-body-small  u-text-constrain">
      This should be used only for <strong>navigation purposes</strong>.<br>
      Use .c-form-select for dropdown inputs.
    </p>
  </article>
</section>
