<section class="o-container  u-margin-bottom">
  <h2 id="ui-spinner" class="c-heading-sub">Spinner</h2>
  <article id="ui-loader-indicator" class="u-margin-bottom-large">
    <h3 class="c-heading-section">Indicator</h3>
    <div class="o-layout  u-margin-bottom">
      <div class="o-layout__item  u-width-1/3@medium">
        <strong class="c-spinner  c-spinner--small  sg-test-spinner" role="progressbar">Loading…</strong>
        <div class="u-margin-top-small">
          <code>.c-spinner</code>
        </div>
        <div>
          <code>.c-spinner--small</code>
        </div>
      </div>
      <div class="o-layout__item  u-width-1/3@medium">
        <strong class="c-spinner  sg-test-spinner" role="progressbar">Loading…</strong>
        <div class="u-margin-top-small">
          <code>.c-spinner</code>
        </div>
      </div>
      <div class="o-layout__item  u-width-1/3@medium">
        <strong class="c-spinner  c-spinner--large  sg-test-spinner" role="progressbar">Loading…</strong>
        <div class="u-margin-top-small">
          <code>.c-spinner</code>
        </div>
        <div>
          <code>.c-spinner--large</code>
        </div>
      </div>
    </div>
    <button id="btn-spinner" class="c-btn  c-btn--primary">Toggle Loaders</button>
  </article>
  <article id="ui-loader-overlay" class="u-margin-bottom-large">
    <h3 class="c-heading-section">Overlay</h3>
    <div class="o-layout  u-margin-bottom">
      <div class="o-layout__item  u-width-1/2@medium  u-width-1/3@large">
        <article class="c-tile">
          <div class="c-tile__content">
            <div class="c-spinner-overlay  c-spinner-overlay--light  sg-test-spinner-overlay">
              <strong class="c-spinner" role="progressbar">Loading…</strong>
            </div>
            <img src="http://a3.files.blazepress.com/image/upload/c_fit,cs_srgb,dpr_1.0,q_80,w_620/MTI4OTg5MjI4ODkyNzM1NDk4.jpg" alt="Maru the cat"/>
          </div>
        </article>
        <div>
          <code>.c-spinner-overlay</code>
        </div>
        <div class="u-margin-bottom-small">
          <code>.c-spinner-overlay--light</code>
        </div>
        <div>
          with <code>.c-spinner</code> as a child.
        </div>
      </div>
      <div class="o-layout__item  u-width-1/2@medium  u-width-1/3@large">
        <article class="c-tile">
          <div class="c-tile__content">
            <div class="c-spinner-overlay  c-spinner-overlay--dark  sg-test-spinner-overlay">
              <strong class="c-spinner  c-spinner--inverse" role="progressbar">Loading…</strong>
            </div>
            <img src="http://cdn.makeagif.com/media/4-18-2016/kainKo.gif" alt="Maru the cat"/>
          </div>
        </article>
        <div>
          <code>.c-spinner-overlay</code>
        </div>
        <div class="u-margin-bottom-small">
          <code>.c-spinner-overlay--dark</code>
        </div>
        <div>
          with <code>.c-spinner  .c-spinner--inverse</code> as a child.
        </div>
      </div>
    </div>
    <button id="btn-spinner-overlay" class="c-btn  c-btn--primary">Toggle Loader Overlay</button>
  </article>
</section>
