<section class="o-container">
  <h2 id="ui-tables" class="c-heading-charlie">Tables</h2>
  <article>
    <h3 class="c-heading-delta">Simple Table</h3>
    <table class="c-table-simple">
      <tr class="c-table-simple__row">
        <td class="c-table-simple__cell">Content goes here</td>
        <td class="c-table-simple__cell  u-text-right">More content can go here</td>
      </tr>
      <tr class="c-table-simple__row">
        <td class="c-table-simple__cell">Content goes here</td>
        <td class="c-table-simple__cell  u-text-right">More content can go here</td>
      </tr>
      <tr class="c-table-simple__row">
        <td class="c-table-simple__cell">Content goes here</td>
        <td class="c-table-simple__cell  u-text-right">More content can go here</td>
      </tr>
      <tr class="c-table-simple__row">
        <td class="c-table-simple__cell">Content goes here</td>
        <td class="c-table-simple__cell  u-text-right">More content can go here</td>
      </tr>
    </table>
  </article>
  <article>
    <h3 class="c-heading-delta">Borderless Table</h3>
    <table class="o-table-borderless">
      <tr>
        <td>Content goes here</td>
        <td>More content can go here</td>
      </tr>
      <tr>
        <td>Content goes here</td>
        <td>More content can go here</td>
      </tr>
      <tr>
        <td>Content goes here</td>
        <td>More content can go here</td>
      </tr>
      <tr>
        <td>Content goes here</td>
        <td>More content can go here</td>
      </tr>
    </table>
  </article>
</section>
