<section class="o-container">
  <h2 id="ui-tiles" class="c-heading-sub">Tiles &amp; Panels</h2>
  <article class="c-tile">
    <div class="c-tile__content">
      <div class="c-tile__body">
        <p class="c-text-body">A tile without any sizing restrictions – simply provides glass/borders/shadows etc. for aesthetics without structure.</p>
      </div>
    </div>
  </article>
  <div class="o-layout">
    <div class="o-layout__item  u-width-1/2@medium">
      <article class="c-tile  c-tile--square">
        <a class="c-tile__link  c-shine-context" href="#0">
          <div class="c-tile__content">
            <div class="c-tile__media">
              <img class="c-tile__poster" src="//www.sky.com/assets2/dcs-legends-of-tomorrow-tile-51653b6f.png?downsize=768px:*&output-format=jpg" alt="Legends of Tomorrow">
            </div>
            <div class="c-tile__caption  c-tile__body">
              <h1 class="c-tile__title">Square tile with media</h1>
            </div>
          </div>
          <div class="c-shine c-tile__shine  c-tile__shine--top">
              <div class="c-shine__rail"></div>
          </div>
          <div class="c-shine c-shine--rev  c-tile__shine c-tile__shine--bottom">
              <div class="c-shine__rail"></div>
          </div>
        </a>
      </article>
    </div>
    <div class="o-layout__item  u-width-1/2@medium">
      <article class="c-tile  c-tile--square">
        <div class="c-tile__content">
          <div class="c-tile__body">
            <p class="c-text-body">Square tile without media. Throw whatever you like into here.</p>
          </div>
        </div>
      </article>
    </div>
    <div class="o-layout__item  u-width-1/2@medium">
      <article class="c-tile  c-tile--square  is-current">
        <div class="c-tile__content">
          <div class="c-tile__body">
            <p class="c-text-body">Currently selected tile.</p>
          </div>
        </div>
      </article>
    </div>
    <div class="o-layout__item  u-width-1/2@medium">
      <article class="c-tile  c-tile--square  c-tile--dark  is-selected">
        <a href="#0" class="c-tile__link  c-shine-context">
          <div class="c-tile__content">
            <div class="c-tile__media">
              <img class="c-tile__poster" src="//www.sky.com/assets2/dcs-legends-of-tomorrow-tile-51653b6f.png?downsize=768px:*&output-format=jpg" alt="Legends of Tomorrow">
            </div>
            <div class="c-tile__caption  c-tile__body">
              <h1 class="c-tile__title">A tile with a long subtitle that is scalable to prevent the text from overflowing.</h1>
            </div>
          </div>
          <div class="c-shine  c-tile__shine  c-tile__shine--top">
              <div class="c-shine__rail"></div>
          </div>
          <div class="c-shine  c-shine--rev  c-tile__shine  c-tile__shine--bottom">
              <div class="c-shine__rail"></div>
          </div>
        </a>
      </article>
    </div>
  </div>

  <article class="c-panel c-panel--dark  is-open">
    <div class="c-panel__content">
      <a href="#0" class="c-panel__toggle">Close</a>
      <div class="o-container">
        <h1 class="c-heading-sub">Panel title</h1>
        <p class="c-text-body">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
      </div>
    </div>
  </article>

  <div class="o-layout">
    <div class="o-layout__item  u-width-1/3@medium">
      <article class="c-tile  c-tile--square">
        <a href="#0" class="c-tile__link  c-shine-context">
          <div class="c-tile__content">
            <div class="c-tile__media">
              <img class="c-tile__poster" src="//www.sky.com/assets2/dcs-legends-of-tomorrow-tile-51653b6f.png?downsize=768px:*&output-format=jpg" alt="Legends of Tomorrow">
            </div>
            <div class="c-tile__caption  c-tile__body">
              <h1 class="c-tile__small-title">Smaller 3-column tiles</h1>
            </div>
          </div>
          <div class="c-shine c-tile__shine  c-tile__shine--top">
              <div class="c-shine__rail"></div>
          </div>
          <div class="c-shine c-shine--rev  c-tile__shine  c-tile__shine--bottom">
              <div class="c-shine__rail"></div>
          </div>
        </a>
      </article>
    </div>
    <div class="o-layout__item  u-width-1/3@medium">
      <article class="c-tile  c-tile--square">
        <a href="#0" class="c-tile__link  c-shine-context">
          <div class="c-tile__content">
            <div class="c-tile__media">
              <img class="c-tile__poster" src="//www.sky.com/assets2/dcs-legends-of-tomorrow-tile-51653b6f.png?downsize=768px:*&output-format=jpg" alt="Legends of Tomorrow">
            </div>
            <div class="c-tile__caption  c-tile__body">
              <h1 class="c-tile__small-title">Shouldn’t be used with long titles</h1>
            </div>
          </div>
          <div class="c-shine c-tile__shine  c-tile__shine--top">
              <div class="c-shine__rail"></div>
          </div>
          <div class="c-shine c-shine--rev  c-tile__shine  c-tile__shine--bottom">
              <div class="c-shine__rail"></div>
          </div>
        </a>
      </article>
    </div>
    <div class="o-layout__item  u-width-1/3@medium">
      <article class="c-tile  c-tile--square  is-selected">
        <a href="#0" class="c-tile__link  c-shine-context">
          <div class="c-tile__content">
            <div class="c-tile__media">
              <img class="c-tile__poster" src="//www.sky.com/assets2/dcs-legends-of-tomorrow-tile-51653b6f.png?downsize=768px:*&output-format=jpg" alt="Legends of Tomorrow">
            </div>
            <div class="c-tile__caption  c-tile__body">
              <h1 class="c-tile__small-title">A third tile</h1>
            </div>
          </div>
          <div class="c-shine c-tile__shine  c-tile__shine--top">
              <div class="c-shine__rail"></div>
          </div>
          <div class="c-shine c-shine--rev  c-tile__shine c-tile__shine--bottom">
              <div class="c-shine__rail"></div>
          </div>
        </a>
      </article>
    </div>
  </div>
  <article class="c-panel is-open">
    <div class="c-panel__content">
      <a href="#0" class="c-panel__toggle">Close</a>
      <div class="o-container">
        <h1 class="c-heading-sub">Panel title</h1>
        <p class="c-text-body">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
      </div>
    </div>
  </article>

  <h3 class="c-heading-gamma  u-margin-top-large">Branded Tiles</h3>
  <p class="c-text-body">Modifiers can be used to set a tile's background to a brand gradient on hover and focus.</p>
  <p class="c-text-body">The following modifiers are included by default:</p>
  <ul>
    <li><code>c-tile--sky-1</code></li>
    <li><code>c-tile--sky-account</code></li>
    <li><code>c-tile--sky-atlantic</code></li>
    <li><code>c-tile--sky-arts</code></li>
    <li><code>c-tile--sky-box-sets</code></li>
    <li><code>c-tile--sky-kids</code></li>
    <li><code>c-tile--sky-living</code></li>
    <li><code>c-tile--sky-movies</code></li>
    <li><code>c-tile--sky-news</code></li>
    <li><code>c-tile--sky-sports</code></li>
    <li><code>c-tile--sky-store</code></li>
  </ul>
  <div class="o-layout  o-layout--spaced">
    <div class="o-layout__item  u-width-1/3@medium">
      <article class="c-tile  c-tile--square  c-tile--sky-account">
        <a href="#0" class="c-tile__link  c-shine-context">
          <div class="c-tile__content">
            <div class="c-tile__media">
              <img class="c-tile__poster" src="//www.sky.com/help/assets/homepage/tv_l-4e9cd0934afb910a3e2817d2f69528b58eac473c25d5e1d4c4b3b599511aac46.jpg" alt="Sky TV">
            </div>
            <div class="c-tile__caption  c-tile__body">
              <h1 class="c-tile__title">Sky Account</h1>
            </div>
          </div>
          <div class="c-shine c-tile__shine  c-tile__shine--top">
              <div class="c-shine__rail"></div>
          </div>
          <div class="c-shine c-shine--rev  c-tile__shine  c-tile__shine--bottom">
              <div class="c-shine__rail"></div>
          </div>
        </a>
      </article>
      <div class="u-margin-bottom">
        <code class="sg-code-block">.c-tile</code>
        <code class="sg-code-block">.c-tile--square</code>
        <code class="sg-code-block">.c-tile--sky-account</code>
      </div>
    </div>
    <div class="o-layout__item  u-width-1/3@medium">
      <article class="c-tile  c-tile--square  c-tile--sky-arts">
        <a href="#0" class="c-tile__link  c-shine-context">
          <div class="c-tile__content">
            <div class="c-tile__media">
              <img class="c-tile__poster" src="//www.sky.com/assets2/artists-in-love-tile-338335bd.jpg?downsize=1024px:*&output-format=jpg" alt="Artists in Love">
            </div>
            <div class="c-tile__caption  c-tile__body">
              <h1 class="c-tile__title">Sky Arts</h1>
            </div>
          </div>
          <div class="c-shine c-tile__shine  c-tile__shine--top">
              <div class="c-shine__rail"></div>
          </div>
          <div class="c-shine c-shine--rev  c-tile__shine c-tile__shine--bottom">
              <div class="c-shine__rail"></div>
          </div>
        </a>
      </article>
      <div class="u-margin-bottom">
        <code class="sg-code-block">.c-tile</code>
        <code class="sg-code-block">.c-tile--square</code>
        <code class="sg-code-block">.c-tile--sky-arts</code>
      </div>
    </div>
    <div class="o-layout__item  u-width-1/3@medium">
      <article class="c-tile  c-tile--square  c-tile--sky-movies">
        <a href="#0" class="c-tile__link  c-shine-context">
          <div class="c-tile__content">
            <div class="c-tile__media">
              <img class="c-tile__poster" src="//dm8eklel4s62k.cloudfront.net/images/medium/star-wars-the-force-awakens-sky-store-tile-97c8c1d.jpg" alt="Star Wars: The Force Awakens">
            </div>
            <div class="c-tile__caption  c-tile__body">
              <h1 class="c-tile__title">Sky Movies</h1>
            </div>
          </div>
          <div class="c-shine c-tile__shine  c-tile__shine--top">
              <div class="c-shine__rail"></div>
          </div>
          <div class="c-shine c-shine--rev  c-tile__shine c-tile__shine--bottom">
              <div class="c-shine__rail"></div>
          </div>
        </a>
      </article>
      <div class="u-margin-bottom">
        <code class="sg-code-block">.c-tile</code>
        <code class="sg-code-block">.c-tile--square</code>
        <code class="sg-code-block">.c-tile--sky-movies</code>
      </div>
    </div>
  </div>
</section>
