<section class="o-container">
  <h2 id="ui-typography" class="c-heading-sub">Typography</h2>
  <h1 class="c-heading-page">Heading Level 1</h1>
  <h2 class="c-heading-main">Heading Level 2</h2>
  <h3 class="c-heading-sub">Heading Level 3</h3>
  <h4 class="c-heading-section">Heading Level 4 / Section Title</h4>
  <p class="c-text-lead  u-text-constrain">Lead text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut arcu a lacus rhoncus porta. Vivamus ut turpis fermentum, porttitor mauris ac, ullamcorper elit. Mauris sodales porttitor feugiat. Sed varius tincidunt maximus. Morbi suscipit tellus et enim blandit, vitae malesuada turpis sagittis. Sed tellus est, auctor at pharetra in, aliquam at nisi.</p>
  <p class="c-text-body  u-text-constrain">Body text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut arcu a lacus rhoncus porta. Vivamus ut turpis fermentum, porttitor mauris ac, ullamcorper elit. Mauris sodales porttitor feugiat. Sed varius tincidunt maximus. Morbi suscipit tellus et enim blandit, vitae malesuada turpis sagittis. Sed tellus est, auctor at pharetra in, aliquam at nisi.</p>
  <p class="c-text-lead-small  u-text-constrain">Lead text small - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut arcu a lacus rhoncus porta. Vivamus ut turpis fermentum, porttitor mauris ac, ullamcorper elit. Mauris sodales porttitor feugiat. Sed varius tincidunt maximus. Morbi suscipit tellus et enim blandit, vitae malesuada turpis sagittis. Sed tellus est, auctor at pharetra in, aliquam at nisi.</p>
  <p class="c-text-body-small  u-text-constrain">Body text small - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut arcu a lacus rhoncus porta. Vivamus ut turpis fermentum, porttitor mauris ac, ullamcorper elit. Mauris sodales porttitor feugiat. Sed varius tincidunt maximus. Morbi suscipit tellus et enim blandit, vitae malesuada turpis sagittis. Sed tellus est, auctor at pharetra in, aliquam at nisi.</p>
  <p class="c-text-smallprint">Smallprint</p>
</section>
