<section class="o-container">
  <h2 id="ui-typography" class="c-heading-beta">Typography</h2>
  <h1 class="c-heading-alpha">Heading Level 1</h1>
  <h2 class="c-heading-beta">Heading Level 2</h2>
  <h3 class="c-heading-gamma">Heading Level 3</h3>
  <h4 class="c-heading-delta">Heading Level 4 / Section Title</h4>
  <p class="u-text-constrain">Body text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut arcu a lacus rhoncus porta. Vivamus ut turpis fermentum, porttitor mauris ac, ullamcorper elit. Mauris sodales porttitor feugiat. Sed varius tincidunt maximus. Morbi suscipit tellus et enim blandit, vitae malesuada turpis sagittis. Sed tellus est, auctor at pharetra in, aliquam at nisi.</p>
  <p class="c-text-body-small  u-text-constrain">Body small - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut arcu a lacus rhoncus porta. Vivamus ut turpis fermentum, porttitor mauris ac, ullamcorper elit. Mauris sodales porttitor feugiat. Sed varius tincidunt maximus. Morbi suscipit tellus et enim blandit, vitae malesuada turpis sagittis. Sed tellus est, auctor at pharetra in, aliquam at nisi.</p>
  <p class="c-text-caption">Caption</p>
</section>
