// =============================================================================
// SETTINGS / #COLORS
// =============================================================================

// Our brand and project colours are held in maps. Access these colours using:
//
//   color($KEY)
//
// For example:
//
//   .foo {
//     color: color(brand);
//   }
$colors: (
  brand:     #0072c9,
  highlight: #73add8,
  error:     #ff2744,
  success:   #299934,
  grey-10:   #eaeaea,
  grey-20:   #c0c0c0,
  grey-30:   #9f9f9f,
  grey-40:   #707070,
  grey-50:   #222,
  text:      #4a4a4a,
  black:     #000,
  white:     #fff,
  offer:     #f15a22
) !default;

$gradients: (
  large: (
    0%:   #cdccd4,
    100%: #fff
  ),
  mid: (
    0%:   #e6e6ea,
    100%: #fff
  ),
  small: (
    0%:   #f2f2f5,
    100%: #fff
  ),
  sky-1: (
    0%:   #0082dc,
    100%: #1ea0f5
  ),
  sky-account: (
    0%:   #135fa0,
    100%: #197bc9
  ),
  sky-atlantic: (
    0%:   #003c7d,
    100%: #005aaf
  ),
  sky-arts: (
    0%:   #fa0050,
    100%: #fa5569
  ),
  sky-box-sets: (
    0%:   #5b1139,
    100%: #7f0c2d
  ),
  sky-cinema: (
    0%:   #903,
    100%: #cb0033
  ),
  sky-kids: (
    0%:   #4b007e,
    100%: #652d9f
  ),
  sky-living: (
    0%:   #69879b,
    100%: #69a0b4
  ),
  sky-news: (
    0%:   #061b55,
    100%: #153073
  ),
  sky-sports: (
    0%:   #041456,
    100%: #132774
  ),
  sky-store: (
    0%:   #036,
    100%: #0e429e
  )
) !default;
