// =============================================================================
// SETTINGS / GLOBALS
// =============================================================================

// Global Typography Settings
// ==============================================

$global-font-size: 18px !default;
$global-line-height: 26px !default;
$global-font-family: Sky Text, Helvetica, Arial, sans-serif !default;

// Global Spacing Settings
// ==============================================

$global-spacing-unit: 20px !default;
$global-spacing-unit-tiny: round(0.25 * $global-spacing-unit);
$global-spacing-unit-small: round(0.5 * $global-spacing-unit);
$global-spacing-unit-large: round(2 * $global-spacing-unit);

// Global Border Settings
// ==============================================

$global-border-width: 1px !default;
$global-border-radius: 0.25em !default;

// Global Animation Settings
// ==============================================

$global-animation-speed: 0.5s !default;
$global-animation-speed-fast: round(0.5 * $global-animation-speed);
$global-animation-speed-slow: round(2 * $global-animation-speed);

// Global Shadow Settings
// ==============================================

$global-shadow-color: #000;
$global-shadow-intensity: 0.2;
$global-shadow-x: 1px;
$global-shadow-y: 1px;
$global-shadow-blur: 14px;
$global-shadow-spread: 0;

$global-shadow: unquote($global-shadow-x + " " + $global-shadow-y + " " + $global-shadow-blur + " " + $global-shadow-spread + " " + rgba($global-shadow-color, $global-shadow-intensity));
