// =============================================================================
// SETTINGS / #TYPOGRAPHY
// =============================================================================

// Our brand and project font-sizes are held in maps. Access these using:
//
//   text($KEY, $VARIANT)
//
// For example:
//
//   .foo {
//     font-size: text(heading-alpha, large);
//   }
$text: (
  heading-alpha: (
    small: 36px,
    large: 50px
  ),
  heading-bravo: (
    small: 29px,
    large: 40px
  ),
  heading-charlie: (
    small: 25px,
    large: 34px
  ),
  heading-delta: (
    small: 20px,
    large: 28px
  ),
  text-lead: (
    small: 18px,
    large: 22px
  ),
  text-body: (
    small: 16px,
    large: 18px
  ),
  text-smallprint: (
    small: 12px,
    large: 12px
  )
) !default;
