// =============================================================================
// TEST / FUNCTIONAL / TOOLS / DIVIDER
// =============================================================================

// @mixin divider-gradient
// ===========================================

@include test-module("@mixin divider-gradient") {
  @include test("should return a divider gradient for the bottom edge for when no direction is set") {
    @include assert("compiles divider gradient for the bottom edge") {
      @include input() {
        @include divider-gradient();
      }

      @include expect() {
        background: #c0c0c0;
        background: -webkit-linear-gradient(left, rgba(192, 192, 192, 0), #c0c0c0, rgba(192, 192, 192, 0));
        background: -moz-linear-gradient(left, rgba(192, 192, 192, 0), #c0c0c0, rgba(192, 192, 192, 0));
        background: -ms-linear-gradient(left, rgba(192, 192, 192, 0), #c0c0c0, rgba(192, 192, 192, 0));
        background: -o-linear-gradient(left, rgba(192, 192, 192, 0), #c0c0c0, rgba(192, 192, 192, 0));
        background: linear-gradient(to right, rgba(192, 192, 192, 0), #c0c0c0, rgba(192, 192, 192, 0));
      }
    }
  }

  @include test("should return a divider gradient for the right edge when a right direction is set") {
    @include assert("compiles divider gradient for the right edge") {
      @include input() {
        @include divider-gradient(right);
      }

      @include expect() {
        background: #c0c0c0;
        background: -webkit-linear-gradient(top, rgba(192, 192, 192, 0), #c0c0c0, rgba(192, 192, 192, 0));
        background: -moz-linear-gradient(top, rgba(192, 192, 192, 0), #c0c0c0, rgba(192, 192, 192, 0));
        background: -ms-linear-gradient(top, rgba(192, 192, 192, 0), #c0c0c0, rgba(192, 192, 192, 0));
        background: -o-linear-gradient(top, rgba(192, 192, 192, 0), #c0c0c0, rgba(192, 192, 192, 0));
        background: linear-gradient(to bottom, rgba(192, 192, 192, 0), #c0c0c0, rgba(192, 192, 192, 0));
      }
    }
  }

  @include test("should return a custom divider gradient for the right edge when a right direction and color is set") {
    @include assert("compiles a custom divider gradient for the right edge") {
      @include input() {
        @include divider-gradient(right, #bada55);
      }

      @include expect() {
        background: #bada55;
        background: -webkit-linear-gradient(top, rgba(186, 218, 85, 0), #bada55, rgba(186, 218, 85, 0));
        background: -moz-linear-gradient(top, rgba(186, 218, 85, 0), #bada55, rgba(186, 218, 85, 0));
        background: -ms-linear-gradient(top, rgba(186, 218, 85, 0), #bada55, rgba(186, 218, 85, 0));
        background: -o-linear-gradient(top, rgba(186, 218, 85, 0), #bada55, rgba(186, 218, 85, 0));
        background: linear-gradient(to bottom, rgba(186, 218, 85, 0), #bada55, rgba(186, 218, 85, 0));
      }
    }
  }
}

// @mixin divider-shadow
// ===========================================

@include test-module("@mixin divider-shadow") {
  @include test("should return a divider shadow for the bottom edge for when no direction is set") {
    @include assert("compiles divider shadow for the bottom edge") {
      @include input() {
        @include divider-shadow();
      }

      @include expect() {
        background: -webkit-radial-gradient(50% 0%, rgba(74, 74, 74, 0.15), transparent 40%);
        background: -moz-radial-gradient(50% 0%, rgba(74, 74, 74, 0.15), transparent 40%);
        background: -ms-radial-gradient(50% 0%, rgba(74, 74, 74, 0.15), transparent 40%);
        background: -o-radial-gradient(50% 0%, rgba(74, 74, 74, 0.15), transparent 40%);
        background: radial-gradient(at 50% 0%, rgba(74, 74, 74, 0.15), transparent 40%);
      }
    }
  }

  @include test("should return a divider shadow for the right edge when a right direction is set") {
    @include assert("compiles divider shadow for the right edge") {
      @include input() {
        @include divider-shadow(right);
      }

      @include expect() {
        background: -webkit-radial-gradient(0 50%, farthest-corner, rgba(74, 74, 74, 0.15), transparent 40%);
        background: -moz-radial-gradient(0 50%, farthest-corner, rgba(74, 74, 74, 0.15), transparent 40%);
        background: -ms-radial-gradient(0 50%, farthest-corner, rgba(74, 74, 74, 0.15), transparent 40%);
        background: -o-radial-gradient(0 50%, farthest-corner, rgba(74, 74, 74, 0.15), transparent 40%);
        background: radial-gradient(farthest-corner at 0 50%, rgba(74, 74, 74, 0.15), transparent 40%);
      }
    }
  }

  @include test("should return a custom divider shadow for the right edge when a right direction and color is set") {
    @include assert("compiles a custom divider shadow for the right edge") {
      @include input() {
        @include divider-shadow(right, #bada55);
      }

      @include expect() {
        background: -webkit-radial-gradient(0 50%, farthest-corner, #bada55, transparent 40%);
        background: -moz-radial-gradient(0 50%, farthest-corner, #bada55, transparent 40%);
        background: -ms-radial-gradient(0 50%, farthest-corner, #bada55, transparent 40%);
        background: -o-radial-gradient(0 50%, farthest-corner, #bada55, transparent 40%);
        background: radial-gradient(farthest-corner at 0 50%, #bada55, transparent 40%);
      }
    }
  }
}
