// =============================================================================
// TEST / FUNCTIONAL / TOOLS / GRADIENTS
// =============================================================================

@include test-module("@mixin gradient-background") {
  @include test("should return a vertical linear gradient for the given key when no direction is set") {
    @include assert("compiles vertical linear gradient") {
      @include input() {
        @include gradient-background(sky-1);
      }

      @include expect() {
        background-color: #1ea0f5;
        background-image: -webkit-linear-gradient(top, #0082dc 0%, #1ea0f5 100%);
        background-image: -moz-linear-gradient(top, #0082dc 0%, #1ea0f5 100%);
        background-image: -o-linear-gradient(top, #0082dc 0%, #1ea0f5 100%);
        background-image: linear-gradient(to bottom, #0082dc 0%, #1ea0f5 100%);
      }
    }
  }

  @include test("should return a vertical linear gradient for the given key when a vertical direction is set") {
    @include assert("compiles vertical linear gradient") {
      @include input() {
        @include gradient-background(sky-1, "vertical");
      }

      @include expect() {
        background-color: #1ea0f5;
        background-image: -webkit-linear-gradient(top, #0082dc 0%, #1ea0f5 100%);
        background-image: -moz-linear-gradient(top, #0082dc 0%, #1ea0f5 100%);
        background-image: -o-linear-gradient(top, #0082dc 0%, #1ea0f5 100%);
        background-image: linear-gradient(to bottom, #0082dc 0%, #1ea0f5 100%);
      }
    }
  }

  @include test("should return a horizontal linear gradient for the given key when a horizontal direction is set") {
    @include assert("compiles horizontal linear gradient") {
      @include input() {
        @include gradient-background(sky-1, "horizontal");
      }

      @include expect() {
        background-color: #1ea0f5;
        background-image: -webkit-linear-gradient(left, #0082dc 0%, #1ea0f5 50%, #0082dc 100%);
        background-image: -moz-linear-gradient(left, #0082dc 0%, #1ea0f5 50%, #0082dc 100%);
        background-image: -o-linear-gradient(left, #0082dc 0%, #1ea0f5 50%, #0082dc 100%);
        background-image: linear-gradient(to right, #0082dc 0%, #1ea0f5 50%, #0082dc 100%);
      }
    }
  }

  @include test("should return a radial gradient for the given key when a radial direction is set") {
    @include assert("compiles radial linear gradient") {
      @include input() {
        @include gradient-background(sky-1, "radial");
      }

      @include expect() {
        background-color: #1ea0f5;
        background-image: -webkit-radial-gradient(center, ellipse cover, #1ea0f5 0%, #0082dc 100%);
        background-image: -moz-radial-gradient(center, ellipse cover, #1ea0f5 0%, #0082dc 100%);
        background-image: -o-radial-gradient(center, ellipse cover, #1ea0f5 0%, #0082dc 100%);
        background-image: radial-gradient(ellipse at center, #1ea0f5 0%, #0082dc 100%);
      }
    }
  }
}
