// =============================================================================
// TEST / TOOLS / TYPOGRAPHY
// =============================================================================

@import "../../../tools/typography";

// Test Configuration
// ===========================================

@mixin typography_before {
  $global-font-size: 20px !global;

  $text: (
    test: (
      small: (
        font-size: 18px,
        line-height: 1.5
      ),
      large: (
        font-size: 20px,
        line-height: 1.4
      )
    )
  ) !global;
}

// @mixin font()
// ===========================================

@include test-module("@mixin font") {
  @include typography_before();

  @include test("should return font-size in pixels, font-size in rems and line-height.") {
    @include assert("pixels and rems should be compiled") {
      @include input() {
        @include font(test);
      }

      @include expect() {
        font-size: 20px;
        font-size: 1rem;
        line-height: 1.4;
      }
    }
  }

  @include test("should return values for the provided text variant.") {
    @include assert("small font size should be compiled") {
      @include input() {
        @include font(test, small);
      }

      @include expect() {
        font-size: 18px;
        font-size: 0.9rem;
        line-height: 1.5;
      }
    }
  }
}
