/* ==========================================================================
   COMPONENTS / #PRICE
   ========================================================================== */

// Imports
@import "sky-toolkit-core/tools";

// Settings
$price-footnote-spacing: 5px;

/* Base
  ============================================ */

.c-price {
  position: relative;
}

/**
 * Symbol
 *
 * The footnote symbol should be set as a sibling <sup> element.
 *
 * 1. Remove from flow so that modifers such as strike don't effect the symbol
 * 2. Start to the right of the parent and allow mutiple character symbols to
 *    continue to build out in this direction.
 */

.c-price__symbol {
  position: absolute; /* [1] */
  left: 100%;  /* [2] */
  margin-left: $price-footnote-spacing;
}

/* Modifiers
  ============================================ */

/**
 * Striked Pricing
 *
 * 1. Removes the browser-default strikethrough decoration
 * 2. Renders a diagonal line through the text from bottom left to top right
 */

.c-price--strike {
  text-decoration: none;  /* [1] */
  color: color(grey-30);

  &::after {  /* [2] */

    /*! autoprefixer: off */
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid color(grey-30);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}
