/* ==========================================================================
   COMPONENTS / #PRICE
   ========================================================================== */

// Imports
@import "sky-toolkit-core/tools";

/* Modifiers
  ============================================ */

/**
 * Striked Pricing
 *
 * 1. Removes the browser-default strikethrough decoration
 * 2. Renders a diagonal line through the text from bottom left to top right
 */
.c-price--strike {
  position: relative;
  text-decoration: none;  /* [1] */
  color: color(grey-30);

  &::after {  /* [2] */

    /*! autoprefixer: off */
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid color(grey-30);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}
