/* ==========================================================================
   COMPONENTS / #PRICE
   ========================================================================== */

// Imports
@import "sky-toolkit-core/tools";

// Settings
$price-footnote-spacing: 5px;

/* Base
  ============================================ */

/*
 *  Price Wrapper
 *
 * Encapsulate the price when using adjoining items such as footnote
 *
 * 1. Context for absolutely positioned child items (footnote)
 * 2. Element needs to calculate line-height based on children
 *
 */

.c-price-wrapper {
  position: relative;  /* [1] */
  display: inline-block; /* [2] */
}

/* Modifiers
  ============================================ */

/**
 * Striked Pricing
 *
 * 1. Removes the browser-default strikethrough decoration
 * 2. Renders a diagonal line through the text from bottom left to top right
 */

.c-price--strike {
  position: relative;
  text-decoration: none;  /* [1] */
  color: color(grey-30);

  &::after {  /* [2] */

    /*! autoprefixer: off */
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid color(grey-30);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}

/**
 * With Footnote Marker
 *
 * The footnote symbol is set as a sibling <sup> element.
 *
 * 1. Start to the right of the parent and allow mutiple character symbols to
 *    continue to build out in this direction.
 * 2. Modifer on sibling should effect the style of the sub
 */

.c-price__symbol {
  position: absolute;
  left: 100%;  /* [1] */
  margin-left: $price-footnote-spacing;
}

.c-price--strike {
  + .c-price__symbol {
    color: color(grey-30);  /* [2] */
  }
}
