/* ==========================================================================
   COMPONENTS / #PRICE
   ========================================================================== */

// Imports
@import "sky-toolkit-core/tools";

// Settings
$price-footnote-spacing: 5px;

/* Modifiers
  ============================================ */

/**
 * Striked Pricing
 *
 * 1. Removes the browser-default strikethrough decoration
 * 2. Renders a diagonal line through the text from bottom left to top right
 */

.c-price--strike {
  position: relative;
  text-decoration: none;  /* [1] */
  color: color(grey-30);

  &::after {  /* [2] */

    /*! autoprefixer: off */
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid color(grey-30);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}

/**
 * With Footnote Marker
 *
 * The footnote symbol is set as a pseudo element for tight positional control.
 * 
 * 1. Apps should override this default charecter as necessary.
 * 2. Create the impression of a superscript element by raising up by a half
 * 3. Start to the right of the parent and allow mutiple character symbols to 
 *    continue to build out in this direction
 */

.c-price--footnote {
  position: relative; 
  
  &::before {

    content:"*"; /* [1] */
    position: absolute;
    top:-0.5em; /* [2] */
    left: 100%; /* [3] */
    margin-left: $price-footnote-spacing;
  }
}
