@import 'sky-toolkit-core/all';
@import 'sky-toolkit-ui/all';

.c-text-bold {
  font-weight: bold;
}

/* Icons
   ========================================================================== */

.sg-icon {
  width: 1em;
  transform: translateY(2px);
}

.sg-icon--github {
  color: #4a4a4a;
  transition: all 0.5s ease;

  &:hover {
    color: #0072c9;
    transform: scale(1.5);
  }
}

/* Swatches
  =========================================================================== */

.sg-swatch {
  padding: $global-spacing-unit-small;
  border-radius: $global-border-radius;
}

/* Color modifiers
   =========================================== */

.sg-swatch--brand {
  background-color: color(brand);
  color: color(white);
}

.sg-swatch--highlight {
  background-color: color(highlight);
  color: color(white);
}

.sg-swatch--text {
  background-color: color(text);
  color: color(white);
}

.sg-swatch--keyline {
  background-color: color(keyline);
}

.sg-swatch--error {
  background-color: color(error);
  color: color(white);
}

.sg-swatch--success {
  background-color: color(success);
  color: color(white);
}

/* Gradient modifiers
   =========================================== */

.sg-swatch--large-linear {
  @include background-gradient("large");
}

.sg-swatch--large-radial {
  @include background-gradient("large", "radial");
}

.sg-swatch--small-linear {
  @include background-gradient("small");
}

.sg-swatch--small-radial {
  @include background-gradient("small", "radial");
}
