@import 'sky-toolkit-core/all';
@import 'sky-toolkit-ui/all';

/* Mixins
   ========================================================================== */

@mixin page-background(){
  background-color: #c9c7d1;
  background-image: -webkit-linear-gradient(left, #c9c7d1 0%, #e5e5ea 6%, #fefefe 20%, #fefefe 80%, #e5e5ea 94%, #c9c7d1 100%);
  background-image: -moz-linear-gradient(left, #c9c7d1 0%, #e5e5ea 6%, #fefefe 20%, #fefefe 80%, #e5e5ea 94%, #c9c7d1 100%);
  background-image: -o-linear-gradient(left, #c9c7d1 0%, #e5e5ea 6%, #fefefe 20%, #fefefe 80%, #e5e5ea 94%, #c9c7d1 100%);
  background-image: linear-gradient(to right, #c9c7d1 0%, #e5e5ea 6%, #fefefe 20%, #fefefe 80%, #e5e5ea 94%, #c9c7d1 100%);
}

/* Header, Main and Footer
   ========================================================================== */

$sg-header-width: 12em;
$sg-header-inner-border-width: 5px;
$sg-header-outer-border-width: 1px;

.sg-header {
  position: fixed;
  display: block;
  width: $sg-header-width;
  padding: $global-spacing-unit-small;
  top: 0;
  bottom: 0;
  left: calc(-#{$sg-header-width} - #{$sg-header-inner-border-width} - #{$sg-header-outer-border-width});
  z-index: 5;
  background: color(white);

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: $sg-header-inner-border-width;
    top: 0;
    bottom: 0;
    left: 100%;
    background: rgba(255,255,255,0.3);
    border-right: $sg-header-outer-border-width solid rgba(255,255,255,0.2);
  }

  @include mq($from: large) {
    left: 0;
  }
}

.sg-main {
  @include page-background();
  display: block;
  margin-left: 0;
  padding-top: $global-spacing-unit-small;
  overflow: hidden;

  @include mq($from: large) {
    margin-left: $sg-header-width;
  }
}

.sg-footer {
  @include page-background();
  display: block;
  margin-left: 0;
  overflow: hidden;

  @include mq($from: large) {
    margin-left: $sg-header-width;
  }
}

/* Icons
   ========================================================================== */

.sg-icon {
  width: 1em;
  transform: translateY(2px);
}

.sg-icon--github {
  color: #4a4a4a;
  transition: all 0.5s ease;

  &:hover {
    color: #0072c9;
    transform: scale(1.5);
  }
}

/* Code
   =========================================== */

.sg-code-block {
  display: block;
}

/* Swatches
  =========================================================================== */

.sg-swatch {
  padding: $global-spacing-unit-small;
  border-radius: $global-border-radius;
}

/* Color modifiers
   =========================================== */

.sg-swatch--brand {
  background-color: color(brand);
  color: color(white);
}

.sg-swatch--highlight {
  background-color: color(highlight);
  color: color(white);
}

.sg-swatch--text {
  background-color: color(text);
  color: color(white);
}

.sg-swatch--keyline {
  background-color: color(keyline);
}

.sg-swatch--error {
  background-color: color(error);
  color: color(white);
}

.sg-swatch--success {
  background-color: color(success);
  color: color(white);
}

.sg-swatch--ui-light {
  background-color: color(ui-light);
}

.sg-swatch--ui-mid {
  background-color: color(ui-mid);
  color: color(white);
}

.sg-swatch--ui-dark {
  background-color: color(ui-dark);
  color: color(white);
}

.sg-swatch--white {
  background-color: color(white);
}

.sg-swatch--black {
  background-color: color(black);
  color: color(white);
}

/* Gradient modifiers
   =========================================== */

.sg-swatch--large {
  @include background-gradient("large");
}

.sg-swatch--small {
  @include background-gradient("small");
}

.sg-swatch--sky-1 {
  @include background-gradient("sky-1");
  color: color(white);
}

.sg-swatch--sky-account {
  @include background-gradient("sky-account");
  color: color(white);
}

.sg-swatch--sky-atlantic {
  @include background-gradient("sky-atlantic");
  color: color(white);
}

.sg-swatch--sky-arts {
  @include background-gradient("sky-arts");
  color: color(white);
}

.sg-swatch--sky-box-sets {
  @include background-gradient("sky-box-sets");
  color: color(white);
}

.sg-swatch--sky-cinema {
  @include background-gradient("sky-cinema");
  color: color(white);
}

.sg-swatch--sky-kids {
  @include background-gradient("sky-kids");
  color: color(white);
}

.sg-swatch--sky-living {
  @include background-gradient("sky-living");
  color: color(white);
}

.sg-swatch--sky-news {
  @include background-gradient("sky-news");
  color: color(white);
}

.sg-swatch--sky-sports {
  @include background-gradient("sky-sports");
  color: color(white);
}

.sg-swatch--sky-store {
  @include background-gradient("sky-store");
  color: color(white);
}
