/* ==========================================================================
   COMPONENTS / CALENDAR
   ========================================================================== */

// Calendar Settings
$day-size: 37px;
$calendar-size: 335px;

/* Wrapper
  =========================================== */

.c-calendar-container {
  max-width: $calendar-size;
  margin: 0 auto;
  position: relative;
}

.c-calendar {
  text-align: center;
  table-layout: fixed;
}

/* Pagination Controls
  =========================================== */

.c-calendar-pagination {
  background-color: transparent;
  position: absolute;
  border: none;
  padding: 0;
  height: 30px;
  width: 44px;
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;

  &:focus {
    @include focus-styles;
  }

  @include hocus {
    .c-calendar-pagination__icon {
      display: block;
      opacity: 0.5;
    }
  }
}

.c-calendar-pagination__icon svg {
  fill: color(brand);
  width: 8px;
  height: 13px;
}

/**
  * 1. Postion icon on outer side at small
  * 2. Postion nav button so the middle of the icon overlaps the table edge
 */
.c-calendar-pagination--next {
  right: 0;
  -webkit-transform-origin: right;
  transform-origin: right;

  @include mq($until: medium) {
    text-align: right; /* [1] */
  }

  @include mq($from: medium) {
    -webkit-transform: translateX(50%);
    transform: translateX(50%); /* [2] */
  }

  @include hocus {
    @include mq($from: medium) {
      -webkit-transform: scale(1.5) translateX(50%);
      transform: scale(1.5) translateX(50%);
    }
  }
}

.c-calendar-pagination--prev {
  left: 0;
  -webkit-transform-origin: left;
  transform-origin: left;

  @include mq($until: medium) {
    text-align: left; /* [2] */
  }

  @include mq($from: medium) {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); /* [1] */
  }

  @include hocus {
    @include mq($from: medium) {
      -webkit-transform: scale(1.5) translateX(-50%);
      transform: scale(1.5) translateX(-50%);
    }
  }
}

/* Header
  =========================================== */

.c-calendar__caption {
  font-weight: normal;
}

/**
* Override normalize abbr[title]
*/
.c-calendar__weekday[title] {
  text-decoration: none;
  font-weight: normal;
}

/* Days
  =========================================== */

/**
 * 1. Half the height to give vertical alignment of text
 * 2. Box shadow helps smooth what can look like a pixelated border
 * 3. Reset shadow as silky smooth on retina / HD Displays
 */
.c-calendar__day {
  background: none;
  padding: 0;
  width: $day-size;
  height: $day-size;
  border-radius: 50%;
  margin-bottom: $global-spacing-unit-small;
  border: 1px solid transparent;
  line-height: $day-size / 2; /* [1] */
  color: color(brand);
  background: none;
  border: 1px solid color(brand);
  box-shadow: inset 0 0 0 1px rgba(0, 114, 200, 0.2); /* [2] */
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;

  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    box-shadow: none; /* [3] */
  }

  &:focus {
    @include focus-styles;
  }
  &:hover {
    background: color(brand);
    color: white;
    cursor: pointer;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  &.is-selected {
    background: color(brand);
    color: white;
  }

  &.is-disabled {
    color: color(grey-20);
    border: none;
    box-shadow: none;
  }

  &.is-disabled:hover {
    background: none;
    border: none;
    -webkit-transform: none;
    transform: none;
  }

  &.is-disabled:focus {
    @include focus-styles;
  }
}

/* Infomation
  =========================================== */
.c-calendar__information {
  border-width: $global-border-width 0;
  border-style: solid;
  border-color: color(grey-10);
  margin: $global-spacing-unit-tiny 0 $global-spacing-unit-small;
  padding-top: $global-spacing-unit-small;
}

/**
 * Remove input styling
 * 1. Prevent user from being able to click / tap into input
 */
.c-calendar__selected-date {
  border: none;
  padding: 0;
  color: color(text);
  display: block;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; /* [1] */

  &:focus {
    @include focus-styles;
  }
}
