/* ==========================================================================
   COMPONENTS / CALENDAR
  ========================================================================== */

/**
 * Calendar Settings
 * 1. Should be divisible by two to ensure no sup-pixel rendering issues
 * 2. Size of the navigation buttons, should also be divisible by two
 */
$calendar-day-size: 38px; /* [1] */
$calendar-nav-width: 44px; /* [2] */

/* Wrappers and Positioning
  =========================================== */

/**
 * 1. Postioning for pagination
 * 2. Align columns so they have equel spacing on outer sides
 * 3. Anything smaller results in dates being obscured
 * 4. Provide spacing either side of the calender that allows room for transformed navigation buttons
 */
.c-calendar {
  position: relative; /* [1] */
  text-align: center; /* [2] */
  min-width: 290px; /* [3] */
  @include mq($from: medium) {
    margin: 0 ($calendar-nav-width / 2);  /* [4] */
  }
}

/**
 * Any month transitions remain hidden until within view
 */
.c-calendar__inner {
  overflow: hidden;
  position: relative;
}

.c-calendar__month {
  table-layout: fixed;
  overflow: hidden;
}

/* Navigation Controls
  =========================================== */

.c-calendar__nav {
  background-color: transparent;
  position: absolute;
  border: none;
  padding: 0;
  height: 30px;
  width: $calendar-nav-width;
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  z-index: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:focus {
    @include focus-styles;
  }

  @include hocus {
    .c-calendar__nav-icon {
      display: block;
      opacity: 0.5;
    }
  }
}

.c-calendar__nav-icon {
  svg {
    fill: color(brand);
    width: 8px;
    height: 13px;
  }
}

/**
  * 1. Postion icon on outer side at small
  * 2. Postion nav button so the middle of the icon overlaps the table edge
 */
.c-calendar__nav--next {
  right: 0;
  -webkit-transform-origin: right;
  transform-origin: right;

  @include mq($until: medium) {
    text-align: right; /* [1] */
  }

  @include mq($from: medium) {
    -webkit-transform: translateX(50%);
    transform: translateX(50%); /* [2] */
  }

  @include hocus {
    @include mq($from: medium) {
      -webkit-transform: scale(1.5) translateX(50%);
      transform: scale(1.5) translateX(50%);
    }
  }
}

.c-calendar__nav--prev {
  left: 0;
  -webkit-transform-origin: left;
  transform-origin: left;

  @include mq($until: medium) {
    text-align: left; /* [2] */
  }

  @include mq($from: medium) {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); /* [1] */
  }

  @include hocus {
    @include mq($from: medium) {
      -webkit-transform: scale(1.5) translateX(-50%);
      transform: scale(1.5) translateX(-50%);
    }
  }
}

/* Header
  =========================================== */

.c-calendar__caption {
  font-weight: normal;
}

/**
* Override normalize abbr[title]
*/
.c-calendar__weekday[title] {
  text-decoration: none;
  font-weight: normal;
}

/* Days
  =========================================== */

/**
 * 1. Half the height to give vertical alignment of text
 * 2. Box shadow helps smooth what can look like a pixelated border
 * 3. Animate the scaling hover effect
 * 4. Reset shadow as silky smooth on retina / HD Displays
 */
.c-calendar__day {
  background: none;
  padding: 0;
  width: $calendar-day-size;
  height: $calendar-day-size;
  border-radius: 50%;
  margin-bottom: $global-spacing-unit-small;
  border: 1px solid transparent;
  line-height: $calendar-day-size / 2; /* [1] */
  color: color(brand);
  background: none;
  border: 1px solid color(brand);
  box-shadow: inset 0 0 0 1px rgba(0, 114, 200, 0.2); /* [2] */
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s; /* [3] */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    box-shadow: none; /* [4] */
  }

  &:focus {
    @include focus-styles;
  }

  &:hover {
    background: color(brand);
    color: white;
    cursor: pointer;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  /**
   * State Class - date has been selected
   */
  &.is-selected {
    background: color(brand);
    color: white;
  }

  /**
   * State Class - date is unavailable
   */
  &.is-disabled {
    color: color(grey-20);
    border: none;
    box-shadow: none;
    cursor: default;

    &:hover {
      background: none;
      border: none;
      -webkit-transform: none;
      transform: none;
    }
  }
}

/* Infomation
  =========================================== */
.c-calendar__information {
  border-width: $global-border-width 0;
  border-style: solid;
  border-color: color(grey-10);
  margin: $global-spacing-unit-tiny 0 $global-spacing-unit-small;
  padding-top: $global-spacing-unit-small;
}

/**
 * Feedback - Input field displaying infomation about the currently seletcted date
 * 1. Remove any input styling
 * 2. Prevent user from being able to click / tap into input
 */
.c-calendar__feedback {
  border: none;
  padding: 0;
  color: color(text);
  display: block;
  background: none;  /* [1] */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* [1] */
  cursor: auto; /* [1] */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; /* [2] */

  &:focus {
    @include focus-styles;
  }
}
