/* ==========================================================================
   COMPONENTS / FORMS
   ========================================================================== */

$form-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
$form-shadow-focus: 0 0 8px 0 rgba(0, 0, 0, 0.2);
$form-shadow-error: 0 0 8px 0 rgba(255, 39, 68, 0.73);
$form-width: 16em;

/* Form list
  =========================================== */

.c-form-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.c-form-list__item {
  margin-bottom: $global-spacing-unit;
}

/* Form pair
  =========================================== */

.c-form-pair {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.c-form-pair__text,
.c-form-pair__input {
  display: table-cell;
  vertical-align: middle;
}

/* Form labels
  =========================================== */

.c-form-label {
  @include font-size($text-body-small);
  display: block;
  margin-bottom: $global-spacing-unit-tiny;
}

.c-form-label--inline {
  display: inline-block;
  margin-right: $global-spacing-unit-tiny;
}

/* Form text inputs
  =========================================== */

.c-form-input {
  @include font-size($text-body-small);
  background-color: color(white);
  padding: $global-spacing-unit-tiny/2 $global-spacing-unit-tiny;
  border: 1px solid color(keyline);
  border-radius: $global-border-radius;
  box-shadow: $form-shadow;
  outline: 0;
  transition: box-shadow 0.25s ease, border-color 0.25s ease;
  will-change: transform;
  width: $form-width;
  -webkit-appearance: none;

  &:focus {
    box-shadow: $form-shadow-focus;
    border-color: color(white);
  }
}

.c-form-input.is-error,
.c-form-input:invalid {
  border-color: color(error);

  &:focus {
    border-color: color(white);
    box-shadow: $form-shadow-error;
  }
}

/* Form select inputs
  =========================================== */

.c-form-select {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: $global-spacing-unit-small;
    margin-top: -$global-spacing-unit-tiny + 1px;
    width: $global-spacing-unit-small;
    height: $global-spacing-unit-small;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAAkCAYAAAA5DDySAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPVJREFUeNrk2s0NgzAMhmFno47EKGzQETpSR2CEjkCjyEg0aiAhP7Y/IuUSuLyPhDg4RLycc5PfH78fBLy48/3TyYcrb1iEv53RISxCqpM4dkVGSMSHTakHKAhH8RvAExXhLD58AvziCw0hJz7+E8AgFMcjIVyOR0CojreM0CzeIkLzeEsI3eItIHSP14wwLF4jwvB4TQhi8RoQxOMlEdTESyCoix+JoDZ+BIL6+J4IZuJ7IJiLb4lgNr4Fgvn4GgSY+CsIcPGFCDP0bCIDAXowU4OANZ8sRMCcUGciYN9ROEGAv6BxhHCP+B3CvLubsEjFfwUYAKjtGJxFvDJsAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
}

.c-form-select__dropdown {
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 18px;
  line-height: 30px;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 12px;
  border-color: #c0c0c0;
  background-color: #fff;
  width: $form-width;
  box-shadow: $form-shadow;
  outline: 0;
  transition: box-shadow 0.25s ease, border-color 0.25s ease;
}

.c-form-select__dropdown:focus {
  box-shadow: $form-shadow-focus;
  border-color: color(white);
}

/* Form modifiers
  =========================================== */

/**
* For inputs that need to display full-width.
*/
.c-form-input--full {
  width: 100%;
}

/**
* For inputs that need to display full-width on small devices only.
*/
.c-form-input--full\@small {
  @include mq($until: medium) {
    display: block;
    width: 100%;
  }
}

.c-form-required {
  color: color(error);
  // Doubling up specificity to override normalize
  &#{&} {
    border-bottom: none;
  }
}
