/* ==========================================================================
   COMPONENTS / HERO
   ========================================================================== */

$hero-height-offset: 5.727em;
$hero-border-width: 0.27em;
$hero-border-color: rgba(color(white), 0.3);
$hero-text-shadow: 0 0 25px rgba(color(black), 0.25), 1px 1px 1px rgba(color(black), 0.5);
$hero-overlap: 10vh;

.c-hero {
  background-position: center;
  background-size: cover;
  color: color(white);
  height: 60vh;
  min-height: 20em; /* TODO: Min height for content or scaled/fixed versions */
  position: relative;

  /**
   * Top and bottom rails/borders
   *
   * TODO: Are rails part of hero or shine?
   */
  &::before,
  &::after {
    content: "";
    display: block;
    background: $hero-border-color;
    height: $hero-border-width;
    position: absolute;
    left: 0;
    width: 100%;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

/**
 * Offset modifier which pulls content up to sit over hero.
 * Requires content effected to be positioned relative to avoid z-index issues.
 */

.c-hero--cover {
  height: calc(100vh - #{$hero-height-offset}); /* TODO: Define correct heights or scaled/fixed versions */
}

.c-hero--overlap {
  margin-bottom: -$hero-overlap;
}

.c-hero--fit-content {
  height: auto;
  min-height: 0;
}

/**
 * Overlay to be used for titles and links etc.
 */
.c-hero__caption {
  bottom: 0;
  padding-top: $global-spacing-unit;
  padding-bottom: $global-spacing-unit;
  position: absolute;
  text-shadow: $hero-text-shadow;
  width: 100%;

  /* If hero has overlap modifier, shift overlay content upwards to compensate */
  .c-hero--overlap & {
    bottom: $hero-overlap; /* Taken from Sky Pages (TODO: size needs clarifying) */
  }
}

.c-hero__video {
  display: block;
}

/**
 * TODO: Should the overlay content be defined with classes or free to add as
 * much in as wanted?
 * This includes .c-hero__link, .c-hero__title and .c-hero__caption
 */
.c-hero__link {
  color: inherit;
}
