/* ==========================================================================
   COMPONENTS / HERO
   ========================================================================== */

.c-hero {
  background-position: center;
  background-size: cover;
  color: color(white); /* TODO: Will color ever change? */
  height: calc(100vh - 5.727em); /* TODO: Define correct heights or scaled/fixed versions */
  min-height: 20em; /* TODO: Min height for content or scaled/fixed versions */
  position: relative;

  /**
   * Top and bottom rails/borders
   *
   * TODO: Are rails part of hero or shine?
   */
  &::before,
  &::after {
    content: "";
    display: block;
    background: rgba(color(white), 0.3);
    height: 10px;
    height: 0.455em; /* 10px */
    position: absolute;
    left: 0;
    width: 100%;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

/**
 * Offset modifier which pulls content up to sit over hero.
 * Requires content effected to be positioned relative to avoid z-index issues.
 */
.c-hero--overlap {
  margin-bottom: -10vw;
}

.c-hero--media {
  height: auto;
  min-height: 0;
}

/**
 * Overlay to be used for titles and links etc.
 */
.c-hero__overlay {
  bottom: 0;
  padding-top: $global-spacing-unit;
  padding-bottom: $global-spacing-unit;
  position: absolute;
  text-shadow: 1px 1px rgba(color(black), 0.2); /* TODO: Dont think this should be forced? */
  width: 100%;

  /* If hero has overlap modifier, shift overlay content upwards to compensate */
  .c-hero--overlap & {
    bottom: 10vw; /* Taken from Sky Pages (TODO: size needs clarifying) */
  }
}

.c-hero__media {
  display: block;
}

/**
 * TODO: Should the overlay content be defined with classes or free to add as
 * much in as wanted?
 * This includes .c-hero__link, .c-hero__title and .c-hero__caption
 */
.c-hero__link {
  color: inherit;
}

.c-hero__title {
  @include font-size($text-alpha);
  margin-bottom: 0;
}
