/* ==========================================================================
   COMPONENTS / PANEL
   ========================================================================== */

$panel-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.3) inset, 0 -5px 30px -5px rgba(0, 0, 0, 0.3) inset !default;
$panel-background-color: color(light-ui) !default;
$panel-background-color-dark: color(dark-ui) !default;

/**
 * 1. Break the panel outside of the current container (typically
 * `o-container`).
 */
.c-panel {
  position: relative; /* [1] */
  left: 50%; /* [1] */
  width: 100vw; /* [1] */
  margin-left: -50vw; /* [1] */
  background: $panel-background-color;
  box-shadow: $panel-shadow;
  padding-top: $global-spacing-unit;
  padding-bottom: $global-spacing-unit;
  margin-bottom: $global-spacing-unit;
}

/* Darker panels
  =========================================== */

.c-panel--dark {
  background-color: $panel-background-color-dark;
  color: color(white);
}

/* Toggle links
  =========================================== */

.c-panel__toggle {
  position: absolute;
  top: $global-spacing-unit-small;
  right: $global-spacing-unit-small;
  font-size: $text-body-small;
  color: color(text);
  line-height: 1;

  &::after {
    display: inline-block;
    position: relative;
    top: 0.15em;
    content: "\2715";
    font-size: 1.5em;
    margin-left: $global-spacing-unit-tiny;
    text-decoration: none !important;
  }

  .c-panel--dark &{
    color: color(white);
  }
}
