/* ==========================================================================
   COMPONENTS / PANEL
   ========================================================================== */

// Panel settings
$panel-gradient: linear-gradient(to bottom, rgba(160, 160, 160, 0.5) 0%, rgba(0, 0, 0, 0) 12px), linear-gradient(to top, rgba(160, 160, 160, 0.5) 0%, rgba(0, 0, 0, 0) 12px);
$panel-background-color: color(ui-light) !default;
$panel-background-color-dark: color(ui-dark) !default;

/**
 * 1. Break the panel outside of the current container (typically
 * `o-container`).
 */
.c-panel {
  position: relative; /* [1] */
  left: 50%; /* [1] */
  width: 100vw; /* [1] */
  margin-left: -50vw; /* [1] */
  background: $panel-background-color;
  background-image: $panel-gradient;
  transition: $global-animation-speed linear;
  transition-property: max-height, margin-bottom;
  overflow: hidden;
  max-height: 0;

  &.is-open {
    max-height: 100vh;
    margin-bottom: $global-spacing-unit;
  }
}

.c-panel__content {
  padding-top: $global-spacing-unit;
  padding-bottom: $global-spacing-unit;
}

/* Darker panels
  =========================================== */

/**
  * 1. Darker panels have no shadow/gradient
  */

.c-panel--dark {
  background-color: $panel-background-color-dark;
  background-image: none; /* [1] */
  color: color(white);
}

/* Toggle links
  =========================================== */

/**
  * Close button for panels
  * 1. Position the button in top right of panel
  * 2. Offset cross icon to align with text
  */

.c-panel__toggle {
  @include font-size($text-body-small, 1);

  position: absolute; /* [1] */
  top: $global-spacing-unit-small; /* [1] */
  right: $global-spacing-unit-small; /* [1] */
  color: color(text);

  &::after {
    display: inline-block;
    position: relative;  /* [2] */
    top: 0.15em;  /* [2] */
    content: "\2715"; // ×
    font-size: 1.5em;
    margin-left: $global-spacing-unit-tiny;
    text-decoration: none !important;
  }

  .c-panel--dark & {
    color: color(white);
  }
}
