/* ==========================================================================
   COMPONENTS / SHINE
   ========================================================================== */

// Shine settings
$shine-size: 45px;
$shine-offset: 25%;

/**
 * The Shine component and it's base container positioning/behaviour
 */
.c-shine {
  overflow: hidden;
  pointer-events: none;
  display: block;
  height: $shine-size;
  width: 100%;
  transition: $global-animation-speed ease-out;
  z-index: 1000;
}

/**
 * c-shine-context is applied to the parent node in which the shine is contained
 */
.c-shine-context {

  .c-shine {
    opacity: 0;
  }

  &:hover .c-shine {
    opacity: 1;
  }

}

/**
 * The moving part of the shine. We start with the shine transformed *away* from
 * it's context, and move it to it's natural position on hover.
 */
.c-shine__rail {
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: $global-animation-speed ease-out;
  will-change: transform;
  position: relative;
  height: 100%;
  overflow: hidden;

  /**
   * Reverse modifier for shines to move LTR rather than RTL
   */
  .c-shine--rev & {
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

  /**
   * Pseudo elements to contain the shine graphics generated by CSS.
   */
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: $shine-offset;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }

  /**
   * Shine Diffaction Spike
   */
  &::before {
    background-image: -webkit-radial-gradient(rgba(white, 0.8) 15%, rgba-image(white, 0.15) 38%, rgba(white, 0) 50%);
    background-image: radial-gradient(rgba(white, 0.8) 15%, rgba(white, 0.15) 38%, rgba(white, 0) 50%);
    background-size: 300px 16px;
  }

  /**
   * Shine Orb
   */
  &::after {
    background-image: -webkit-radial-gradient(rgba(white, 0.8) 15%, rgba(white, 0.25) 35%, rgba(white, 0.15) 40%, rgba(white, 0) 50%);
    background-image: radial-gradient(rgba(white, 0.8) 15%, rgba(white, 0.25) 35%, rgba(white, 0.15) 40%, rgba(white, 0) 50%);
    background-size: 60px 28px;
  }

  /**
   * Reverse shine offset
   */
  .c-shine--rev & {
    &::before,
    &::after {
      left: -$shine-offset;
    }
  }

  .c-shine-context:hover & {
    -ms-transform: none;
    transform: none;
  }
}
