/* ==========================================================================
   COMPONENTS / SWITCH
   ========================================================================== */

// Switch settings
$switch-size: 28px !default;
$switch-inactive-color: color(grey-30);
$switch-inactive-hover-color: color(grey-20);
$switch-active-color: color(brand);
$switch-active-hover-color: color(highlight);
$switch-transition: all $global-animation-speed-fast cubic-bezier(0.2, 0.9, 0.3, 1);

/**
 * 1. Visually hide the `input` element and the label text, but leave it acessible for screenreaders
 */

.c-switch__input,
.c-switch__label {
  @include hide-visually(); /* [1] */
}

/**
 * 1. The switch is always twice as wide as the marker
 * 2. `content-box` allows us to align the marker inside the button border
 * 3. Using `color` allows us to use `currentColor` for borders and backgrounds and avoid repeated
 *    declarations
 * 4. Explicitly force coarse pointer devices to use non-hover colors in order to avoid sticky
 *    hover states on touch devices
 */

.c-switch__button {
  height: $switch-size;
  width: $switch-size * 2; /* [1] */
  position: relative;
  border-radius: 1em;
  box-sizing: content-box; /* [2] */
  color: $switch-inactive-color; /* [3] */
  background-color: currentColor;
  border: 3px solid currentColor;
  cursor: pointer;
  transition: $switch-transition;

  &:hover {
    color: $switch-inactive-hover-color;

    @media(pointer: coarse) {
      color: $switch-inactive-color; /* [4] */
    }
  }

  /* the switch "marker" */
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    height: $switch-size;
    width: $switch-size;
    border-radius: 100%;
    background-color: color(white);
    transition: $switch-transition;
  }
}

/**
 * The `checked` state of the switch
 */

.c-switch__input:checked + .c-switch__button {
  color: $switch-active-color;

  &:hover {
    color: $switch-active-hover-color;

    @media(pointer: coarse) {
      color: $switch-active-color;
    }
  }

  &::before {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}
