/* ==========================================================================
   COMPONENTS / TABLES
   ========================================================================== */

.c-table-simple__row {
  border-bottom: 1px solid color(keyline);
}

.c-table-simple__cell {
  padding: $spacing-unit-small;
  text-align: left;
  vertical-align: top;
}
