/* ==========================================================================
   COMPONENTS / #TABS
   ========================================================================== */

// Tabs Settings
$tabs-border-width: $global-border-width;
$tabs-shadow-height: 14px;
$tabs-indicator-height: 2px;
$tabs-link-padding: 5px;
$tabs-animation-speed: $global-animation-speed-fast;
$tabs-container-width: $global-container-width;

/* Base
  ============================================ */

/**
 * Tabs
 *
 * Tabs are used for in-page navigation, switching between articles of content.
 *
 * Note: Appropriate containers are provided with the component, and should not
 *       be placed within `o-container`.
 *
 * 1. Compliment Toolkit's Vertical Rhythm.
 * 2. Align Header content to center.
 */
.c-tabs {
  display: block;
  position: relative;
  margin-bottom: $global-spacing-unit; /* [1] */
  text-align: center; /* [1] */
  color: color(text);
}

/* Header
  ---------------------------------- */

/**
 * Tabs Header
 *
 * A container for navigation, dividers and items.
 * It stretches to the full width of the screen.
 */
.c-tabs__header {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 0 auto $global-spacing-unit auto;

  /**
   * From `medium` screens upwards, sretch to the size of contents, but no
   * larger than the container.
   */
  @include mq($from: medium) {
    padding: 0 $global-spacing-unit;
    min-width: 70%;
    max-width: $tabs-container-width;
    width: auto;
  }
}

/**
 * Tabs Divider
 *
 * Tabs Dividers are a purely cosmetic feature of Tabs, visually separating
 * Tabs content and navigation from the rest of the page.
 *
 * They should be applied separately above and below `.c-tabs__nav` using the
 * appropriate modifiers provided.
 */
.c-tabs__divider {
  display: block;
  position: relative;
  height: $tabs-border-width;
  width: 100%;
  margin: 0;

  /**
   * Tabs Divider - Gradient Border and Shadow
   *
   * Shared pseudo-element stucture.
   */
  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
  }

  /**
   * Tabs Divider - Gradient Border
   */
  &::before {
    @include divider-gradient();
    height: $tabs-border-width;
    z-index: 1;
  }

  /**
   * Tabs Divider - Shadow
   *
   * Shared height for top and bottom shadow.
   */
  &::after {
    height: $tabs-shadow-height + $tabs-border-width;
    width: 130%;
    margin-left: -15%;
  }
}

/**
 * Tabs Divider (Top)
 *
 * Modifier for use on the divider *above* `.c-tabs__nav`, providing gradient
 * border positioning and the appropriate shadow.
 */
.c-tabs__divider--top {
  /**
   * Tabs Divider (Top) - Gradient Border
   */
  &::before {
    bottom: 0;
  }

  /**
   * Tabs Divider (Top) - Shadow
   */
  &::after {
    @include divider-shadow(top);
    bottom: 0;
  }
}

/**
 * Tabs Divider (Bottom)
 *
 * Modifier for use on the divider *below* `.c-tabs__nav`, providing gradient
 * border positioning and the appropriate shadow.
 */
.c-tabs__divider--bottom {
  margin-top: -$tabs-border-width;

  /**
   * Tabs Divider (Bottom) - Gradient Border
   */
  &::before {
    top: 0;
  }

  /**
   * Tabs Divider (Bottom) - Shadow
   */
  &::after {
    @include divider-shadow();
    top: 0;
  }
}

/**
 * Tabs Navigation
 *
 * A container for navigation, dividers and items.
 * It stretches to the full width of the header.
 *
 * 1. Hide overflow to prevent showing scrollbar on `c-tabs__list`.
 * 2. Extra padding to allow the divider to fade out gracefully.
 */
.c-tabs__nav {
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden; /* [1] */
  display: inline;

  @include mq($from: medium) {
    padding: 0 $global-spacing-unit; /* [2] */
  }
}

/**
 * Tabs List
 *
 * The list of Tabs Navigation items, displayed horizontally.
 *
 * 1. Extend the list at the bottom edge to hide the scrollbar.
 */
.c-tabs__list {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 0 0 -$global-spacing-unit 0; /* [1] */
  padding-bottom: $global-spacing-unit; /* [1] */
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

/**
 * Tabs Item
 *
 * Individual list item of Tabs Navigation.
 */
.c-tabs__item {
  margin-right: $global-spacing-unit;
  padding: $tabs-link-padding 0 ($tabs-link-padding + $tabs-border-width) 0;

  &:first-child {
    margin-left: $global-spacing-unit;
  }
}

/**
 * Tabs Link
 *
 * The "Tabs"; the key interaction for switching between Tabs Articles.
 * Can be used on `<a>` or `<button>`.
 */
.c-tabs__link {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  color: inherit;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  /**
   * Tabs Link - Indicator
   *
   * The underline / bottom-border indicator, displayed on hover and when a
   * Tabs Link is set to active.
   *
   * 1. Slightly extend the width of the indicator.
   */
  &::after {
    content: "";
    position: absolute;
    display: block;
    left: -$global-spacing-unit-tiny; /* [1] */
    right: -$global-spacing-unit-tiny; /* [1] */
    bottom: -($tabs-link-padding + $tabs-border-width);
    height: $tabs-indicator-height;
    z-index: 100;
    background-color: color(text);
    opacity: 0;
    transform: translateY(100%);
    transition: transform $tabs-animation-speed ease;
  }

  /**
   * Tabs Link - Indicator (Interaction)
   *
   * Remove default link styles and animate the border upwards.
   */
  &:hover,
  &:focus,
  &.is-active {
    text-decoration: none;
    outline: none;

    &::after {
      transform: none;
      opacity: 1;
    }
  }
}

/* Content
  ---------------------------------- */

/**
 * Tabs Content
 *
 * A container for the articles and main content of Tabs.
 * It sits directly below the Tabs Header and stretches full width.
 *
 * 1. Reset text-alignment by `.c-tabs`.
 */
.c-tabs__content {
  display: block;
  position: relative;
  text-align: left; /* [1] */
  overflow: hidden;
}

/**
 * Tabs Article
 *
 * The individual articles of Tabs.
 * Each article is stacked on top of eachother until activated.
 */
.c-tabs__article {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/**
 * Tabs Body
 *
 * A container for the individual article inner-content. This is wrapped
 * separately to allow for complex transitions.
 */
.c-tabs__body {
  opacity: 0;
  visibility: hidden;
  transition: opacity $tabs-animation-speed ease, visibility 0s;
  transition-delay: 0s, $tabs-animation-speed;
}

/* States
  ============================================ */

/**
 * Tabs Link (Active)
 *
 * When a Tab is activated, the `.is-active` class should be toggled.
 * Further cosmetics are implemented above with the main Tabs Link interaction.
 */
.c-tabs__link.is-active {
  font-weight: bold;
}

/**
 * Tabs Article (Active)
 *
 * When a Tab Link is activated, the `.is-active` class should be toggled on the
 * related article too.
 *
 * 1. Delay to prevent cross-fade of content.
 */
.c-tabs__article.is-active {
  position: relative;
  z-index: 1;

  .c-tabs__body {
    opacity: 1;
    visibility: visible;
    transition-delay: $tabs-animation-speed; /* [1] */
  }
}

/* Modifiers
  ============================================ */

/**
 * Dark Tabs
 *
 * For Tabs that need to appear in dark areas of UI.
 * e.g. Within `c-panel--dark`.
 */
.c-tabs--dark {
  color: color(white);

  .c-tabs__divider {
    &::before {
      @include divider-gradient(bottom, color(white));
    }
  }

  .c-tabs__divider--top {
    &::after {
      @include divider-shadow(top, color(grey-40));
    }
  }

  .c-tabs__divider--bottom {
    &::after {
      @include divider-shadow(bottom, color(grey-40));
    }
  }

  .c-tabs__link::after {
    background-color: color(white);
  }
}

/**
 * Full-Width Tabs
 *
 * By default, Tabs Header is kept inside a container to match `o-container`,
 * this modifier overrides the Tabs Header to stretch full-width.
 */
.c-tabs--full {
  .c-tabs__header {
    @include mq($from: medium) {
      display: block;
    }
  }

  .c-tabs__nav {
    @include mq($from: medium) {
      padding: 0;
    }
  }
}
