/* ==========================================================================
   FLUID TILE MODIFIERS
   ==========================================================================
 *
 * The fluid tile sizes are all based on the maximum page breakpoint (1200px).
 * A font-size for .c-tile--fluid is applied which is the equivilent of 20px
 * (toolkit base font size) in `vw` units. This is calculated with:
 */

// Base breakpoint, for none scaled tiles at this resoloution the base font-size will always be 20px.
$fluid-base-breakpoint: map-get($mq-breakpoints, small);

// Enables the max-width styling assuming use of `.o-container`.
$fluid-max-width-enabled: true !default;
$fluid-max-width: 1200px !default;

// Calculate the equivalent 20px font-size in vw units based on the small breakpoint.
$fluid-base-font-size: (strip-unit($global-font-size / $fluid-base-breakpoint)) * 100vw;

// Used to convert our scaling font-size back to px when we hit out max-width (assuming it's enabled).
$fluid-fixed-px-multiplier: $fluid-max-width / $fluid-base-breakpoint;

// The `vw` units scale the base font-size on the tile in relation to the
// viewport width proportionally. We can then use `em` units for inner content
// which will be directly effected by base font-size and scale proportionally
// with it.
.c-tile--fluid {
  font-size: $fluid-base-font-size;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  .u-fluid__base-size {
    font-size: 1em;
  }

  .c-tile__body {
    line-height: 1.1em;
    padding: convert-to-em(15px); // 15px (with 20px base font-size)
  }

  // Set a fluid tile with heading-charlie (36px) equivalent size
  .c-tile__title {
    font-size: convert-to-em(text(heading-charlie));
    line-height: 1.25;
    margin-bottom: convert-to-em($global-spacing-unit-tiny, text(heading-charlie));
  }
}

// Create classes that take effect only at specific breakpoints
// (e.g. `.u-fluid-scale-1/3@medium`).
@mixin fluid-scales($scale-columns, $scale-breakpoint: null) {

  // Loop through the number of columns for each denominator of our fractions.
  @each $scale-denominator in $scale-columns {

    // Begin creating a numerator for our fraction up until we hit the
    // denominator.
    @for $scale-numerator from 1 through $scale-denominator {

      // Build a class in the format `.u-scale-3/4[@<breakpoint>]`.
      .u-fluid-scale-#{$scale-numerator}\/#{$scale-denominator}#{$scale-breakpoint} .c-tile--fluid {
        font-size: $fluid-base-font-size * ($scale-numerator / $scale-denominator);

        @include mq($from: $fluid-max-width) {
          font-size: ($global-font-size * $fluid-fixed-px-multiplier) * ($scale-numerator / $scale-denominator);
        }
      }
    }
  }
}

@each $alias, $bp in $mq-breakpoints {
  @include mq($from: $bp) {
    @include fluid-scales(1 2 3 4 5, \@#{$alias});
  }
}
