/* ==========================================================================
   COMPONENTS / TOOLTIP
   ========================================================================== */

// Settings
$tooltip-width: 20em;
$tooltip-marker-size: 10px;
$tooltip-z-base: 50;

.c-tooltip.is-active {
  display: inline-block;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: $tooltip-z-base+3;
    top: 100%;
    left: 50%;
    margin-left: -($tooltip-marker-size/2);
    width: $tooltip-marker-size*2;
    height: $tooltip-marker-size*2;
    transform: rotate(45deg);
    background-color: #fff;
    box-shadow: -2px -2px 14px -7px #000;
    border: 1px solid #eee;
    border-width: 1px 0 0 1px;
  }

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: $tooltip-z-base+1;
    height: 100%;
    width: 100%;
    background-color: rgba(color(white), 0.85);
  }

}

/* Trigger link
  =========================================== */

.c-tooltip__trigger {
  .is-active & {
    position: relative;
    z-index: $tooltip-z-base+2;
  }
}

/* Content bubble
  =========================================== */

.c-tooltip__content {
  display: none;

  .is-active & {
    @include font-size($text-body-small);
    display: block;
    position: absolute;
    z-index: $tooltip-z-base+2;
    top: 100%;
    left: 0;
    padding: $global-spacing-unit-small;
    background-color: color(white);
    border-radius: $global-border-radius;
    box-shadow: $global-shadow;
    width: calc(100vw - #{$global-spacing-unit-large});
    margin-top: $tooltip-marker-size;

    @include mq($from: medium) {
      width: $tooltip-width;
    }
  }

  :last-child {
    margin-bottom: 0;
  }
}

/* Right aligned variant
  =========================================== */

.c-tooltip--right.is-active {
  &::after, .c-tooltip__content {
    left: auto;
    right: 0;
  }
}
