/* ==========================================================================
   COMPONENTS / TOOLTIP
   ========================================================================== */

// Settings
$tooltip-width: 15em;
$tooltip-marker-size: 10px;

.c-tooltip {
  display: inline-block;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: 15;
    top: 100%;
    left: 50%;
    margin-left: -($tooltip-marker-size/2);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 $tooltip-marker-size $tooltip-marker-size $tooltip-marker-size;
    border-color: transparent transparent color(white) transparent;
  }
}

.c-tooltip__content {
  display: none;

  .is-active & {
    @include font-size($text-body-small);
    display: block;
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    padding: $global-spacing-unit-small;
    background-color: color(white);
    border-radius: $global-border-radius;
    box-shadow: $global-shadow;
    width: $tooltip-width;
    margin-top: $tooltip-marker-size;
  }
}
