<section class="o-container">
  <h2 id="core-colours" class="c-heading-charlie">Colours</h2>
  <ul class="o-layout  o-layout--spaced">
    <li class="o-layout__item  u-width-1/4@medium">
      <div class="sg-swatch  sg-swatch--brand">
        <h3 class="c-text-body  u-margin-all-none">Brand</h3>
        <code class="sg-code-block  c-text-body">#0072c9</code>
        <code class="sg-code-block  c-text-body-small">color(brand)</code>
      </div>
    </li>
    <li class="o-layout__item  u-width-1/4@medium">
      <div class="sg-swatch  sg-swatch--highlight">
        <h3 class="c-text-body  u-margin-all-none">Highlight</h3>
        <code class="sg-code-block  c-text-body">#73add8</code>
        <code class="sg-code-block  c-text-body-small">color(highlight)</code>
      </div>
    </li>
    <li class="o-layout__item  u-width-1/4@medium">
      <div class="sg-swatch  sg-swatch--error">
        <h3 class="c-text-body  u-margin-all-none">Error</h3>
        <code class="sg-code-block  c-text-body">#ff2744</code>
        <code class="sg-code-block  c-text-body-small">color(error)</code>
      </div>
    </li>
    <li class="o-layout__item  u-width-1/4@medium">
      <div class="sg-swatch  sg-swatch--success">
        <h3 class="c-text-body  u-margin-all-none">Success</h3>
        <code class="sg-code-block  c-text-body">#299934</code>
        <code class="sg-code-block  c-text-body-small">color(success)</code>
      </div>
    </li>
    <li class="o-layout__item  u-width-1/4@medium">
      <div class="sg-swatch  sg-swatch--text">
        <h3 class="c-text-body  u-margin-all-none">Text</h3>
        <code class="sg-code-block  c-text-body">#4a4a4a</code>
        <code class="sg-code-block  c-text-body-small">color(text)</code>
      </div>
    </li>
    <li class="o-layout__item  u-width-1/4@medium">
      <div class="sg-swatch  sg-swatch--grey-10">
        <h3 class="c-text-body  u-margin-all-none">grey-10</h3>
        <code class="sg-code-block  c-text-body">#eaeaea</code>
        <code class="sg-code-block  c-text-body-small">color(grey-10)</code>
      </div>
    </li>
    <li class="o-layout__item  u-width-1/4@medium">
      <div class="sg-swatch  sg-swatch--grey-20">
        <h3 class="c-text-body  u-margin-all-none">grey-20</h3>
        <code class="sg-code-block  c-text-body">#c0c0c0</code>
        <code class="sg-code-block  c-text-body-small">color(grey-20)</code>
      </div>
    </li>
    <li class="o-layout__item  u-width-1/4@medium">
      <div class="sg-swatch  sg-swatch--grey-30">
        <h3 class="c-text-body  u-margin-all-none">grey-30</h3>
        <code class="sg-code-block  c-text-body">#9f9f9f</code>
        <code class="sg-code-block  c-text-body-small">color(grey-30)</code>
      </div>
    </li>
    <li class="o-layout__item  u-width-1/4@medium">
      <div class="sg-swatch  sg-swatch--grey-40">
        <h3 class="c-text-body  u-margin-all-none">grey-40</h3>
        <code class="sg-code-block  c-text-body">#7f7f7f</code>
        <code class="sg-code-block  c-text-body-small">color(grey-40)</code>
      </div>
    </li>
    <li class="o-layout__item  u-width-1/4@medium">
      <div class="sg-swatch  sg-swatch--grey-50">
        <h3 class="c-text-body  u-margin-all-none">grey-50</h3>
        <code class="sg-code-block  c-text-body">#222</code>
        <code class="sg-code-block  c-text-body-small">color(grey-50)</code>
      </div>
    </li>
    <li class="o-layout__item  u-width-1/4@medium">
      <div class="sg-swatch  sg-swatch--white">
        <h3 class="c-text-body  u-margin-all-none">White</h3>
        <code class="sg-code-block  c-text-body">#fff</code>
        <code class="sg-code-block  c-text-body-small">color(white)</code>
      </div>
    </li>
    <li class="o-layout__item  u-width-1/4@medium">
      <div class="sg-swatch  sg-swatch--black">
        <h3 class="c-text-body  u-margin-all-none">Black</h3>
        <code class="sg-code-block  c-text-body">#000</code>
        <code class="sg-code-block  c-text-body-small">color(black)</code>
      </div>
    </li>
  </ul>
</section>
