<section class="o-container">
  <h2 id="core-colours" class="c-heading-beta">Colours</h2>
  <ul class="o-layout  o-layout--spaced">
    <li class="o-layout__item  u-width-1/3@medium">
      <div class="sg-swatch  sg-swatch--brand">
        <h3 class="c-text-body  c-text-bold  u-margin-all-none">Brand</h3>
        <code class="sg-code-block  c-text-body">#0072c9</code>
        <code class="sg-code-block  c-text-body-small">color(brand)</code>
      </div>
    </li>
    <li class="o-layout__item  u-width-1/3@medium">
      <div class="sg-swatch  sg-swatch--highlight">
        <h3 class="c-text-body  c-text-bold  u-margin-all-none">Highlight</h3>
        <code class="sg-code-block  c-text-body">#73add8</code>
        <code class="sg-code-block  c-text-body-small">color(highlight)</code>
      </div>
    </li>
    <li class="o-layout__item  u-width-1/3@medium">
      <div class="sg-swatch  sg-swatch--text">
        <h3 class="c-text-body  c-text-bold  u-margin-all-none">Text</h3>
        <code class="sg-code-block  c-text-body">#4a4a4a</code>
        <code class="sg-code-block  c-text-body-small">color(text)</code>
      </div>
    </li>
    <li class="o-layout__item  u-width-1/3@medium">
      <div class="sg-swatch  sg-swatch--keyline">
        <h3 class="c-text-body  c-text-bold  u-margin-all-none">Keyline</h3>
        <code class="sg-code-block  c-text-body">#c0c0c0</code>
        <code class="sg-code-block  c-text-body-small">color(keyline)</code>
      </div>
    </li>
    <li class="o-layout__item  u-width-1/3@medium">
      <div class="sg-swatch  sg-swatch--error">
        <h3 class="c-text-body  c-text-bold  u-margin-all-none">Error</h3>
        <code class="sg-code-block  c-text-body">#ff2744</code>
        <code class="sg-code-block  c-text-body-small">color(error)</code>
      </div>
    </li>
    <li class="o-layout__item  u-width-1/3@medium">
      <div class="sg-swatch  sg-swatch--success">
        <h3 class="c-text-body  c-text-bold  u-margin-all-none">Success</h3>
        <code class="sg-code-block  c-text-body">#299934</code>
        <code class="sg-code-block  c-text-body-small">color(success)</code>
      </div>
    </li>
    <li class="o-layout__item  u-width-1/3@medium">
      <div class="sg-swatch  sg-swatch--ui-light">
        <h3 class="c-text-body  c-text-bold  u-margin-all-none">ui-light</h3>
        <code class="sg-code-block  c-text-body">#e6e6ea</code>
        <code class="sg-code-block  c-text-body-small">color(ui-light)</code>
      </div>
    </li>
    <li class="o-layout__item  u-width-1/3@medium">
      <div class="sg-swatch  sg-swatch--ui-mid">
        <h3 class="c-text-body  c-text-bold  u-margin-all-none">ui-mid</h3>
        <code class="sg-code-block  c-text-body">#666</code>
        <code class="sg-code-block  c-text-body-small">color(ui-mid)</code>
      </div>
    </li>
    <li class="o-layout__item  u-width-1/3@medium">
      <div class="sg-swatch  sg-swatch--ui-dark">
        <h3 class="c-text-body  c-text-bold  u-margin-all-none">ui-dark</h3>
        <code class="sg-code-block  c-text-body">#222</code>
        <code class="sg-code-block  c-text-body-small">color(ui-dark)</code>
      </div>
    </li>
    <li class="o-layout__item  u-width-1/3@medium">
      <div class="sg-swatch  sg-swatch--white">
        <h3 class="c-text-body  c-text-bold  u-margin-all-none">White</h3>
        <code class="sg-code-block  c-text-body">#fff</code>
        <code class="sg-code-block  c-text-body-small">color(white)</code>
      </div>
    </li>
    <li class="o-layout__item  u-width-1/3@medium">
      <div class="sg-swatch  sg-swatch--black">
        <h3 class="c-text-body  c-text-bold  u-margin-all-none">Black</h3>
        <code class="sg-code-block  c-text-body">#000</code>
        <code class="sg-code-block  c-text-body-small">color(black)</code>
      </div>
    </li>
  </ul>
</section>
