<section class="o-container">
  <h2 id="core-gradients" class="c-heading-beta">Gradients</h2>
  <div class="o-layout  o-layout--spaced">
    <div class="o-layout__item  u-width-1/1  u-width-1/2@medium">
      <div class="sg-swatch  sg-swatch--large">
        <h3 class="c-text-body  c-text-bold  u-margin-none">Large</h3>
        <code class="c-text-body-small">@include background-gradient("large");</code>
      </div>
    </div>
    <div class="o-layout__item  u-width-1/1  u-width-1/2@medium">
      <div class="sg-swatch  sg-swatch--small">
        <h3 class="c-text-body  c-text-bold  u-margin-none">Small</h3>
        <code class="c-text-body-small">@include background-gradient("small");</code>
      </div>
    </div>
    <div class="o-layout__item  u-width-1/1  u-width-1/2@medium">
      <div class="sg-swatch  sg-swatch--sky-1">
        <h3 class="c-text-body  c-text-bold  u-margin-none">Sky 1</h3>
        <code class="c-text-body-small">@include background-gradient("sky-1");</code>
      </div>
    </div>
    <div class="o-layout__item  u-width-1/1  u-width-1/2@medium">
      <div class="sg-swatch  sg-swatch--sky-account">
        <h3 class="c-text-body  c-text-bold  u-margin-none">Sky Account</h3>
        <code class="c-text-body-small">@include background-gradient("sky-account");</code>
      </div>
    </div>
    <div class="o-layout__item  u-width-1/1  u-width-1/2@medium">
      <div class="sg-swatch  sg-swatch--sky-atlantic">
        <h3 class="c-text-body  c-text-bold  u-margin-none">Sky Atlantic</h3>
        <code class="c-text-body-small">@include background-gradient("sky-atlantic");</code>
      </div>
    </div>
    <div class="o-layout__item  u-width-1/1  u-width-1/2@medium">
      <div class="sg-swatch  sg-swatch--sky-arts">
        <h3 class="c-text-body  c-text-bold  u-margin-none">Sky Arts</h3>
        <code class="c-text-body-small">@include background-gradient("sky-arts");</code>
      </div>
    </div>
    <div class="o-layout__item  u-width-1/1  u-width-1/2@medium">
      <div class="sg-swatch  sg-swatch--sky-box-sets">
        <h3 class="c-text-body  c-text-bold  u-margin-none">Sky Box Sets</h3>
        <code class="c-text-body-small">@include background-gradient("sky-box-sets");</code>
      </div>
    </div>
    <div class="o-layout__item  u-width-1/1  u-width-1/2@medium">
      <div class="sg-swatch  sg-swatch--sky-kids">
        <h3 class="c-text-body  c-text-bold  u-margin-none">Sky Kids</h3>
        <code class="c-text-body-small">@include background-gradient("sky-kids");</code>
      </div>
    </div>
    <div class="o-layout__item  u-width-1/1  u-width-1/2@medium">
      <div class="sg-swatch  sg-swatch--sky-living">
        <h3 class="c-text-body  c-text-bold  u-margin-none">Sky Living</h3>
        <code class="c-text-body-small">@include background-gradient("sky-living");</code>
      </div>
    </div>
    <div class="o-layout__item  u-width-1/1  u-width-1/2@medium">
      <div class="sg-swatch  sg-swatch--sky-movies">
        <h3 class="c-text-body  c-text-bold  u-margin-none">Sky Movies</h3>
        <code class="c-text-body-small">@include background-gradient("sky-movies");</code>
      </div>
    </div>
    <div class="o-layout__item  u-width-1/1  u-width-1/2@medium">
      <div class="sg-swatch  sg-swatch--sky-news">
        <h3 class="c-text-body  c-text-bold  u-margin-none">Sky News</h3>
        <code class="c-text-body-small">@include background-gradient("sky-news");</code>
      </div>
    </div>
    <div class="o-layout__item  u-width-1/1  u-width-1/2@medium">
      <div class="sg-swatch  sg-swatch--sky-sports">
        <h3 class="c-text-body  c-text-bold  u-margin-none">Sky Sports</h3>
        <code class="c-text-body-small">@include background-gradient("sky-sports");</code>
      </div>
    </div>
    <div class="o-layout__item  u-width-1/1  u-width-1/2@medium">
      <div class="sg-swatch  sg-swatch--sky-store">
        <h3 class="c-text-body  c-text-bold  u-margin-none">Sky Store</h3>
        <code class="c-text-body-small">@include background-gradient("sky-store");</code>
      </div>
    </div>
  </div>
</section>
