<section class="o-container  u-margin-bottom">
  <h2 id="core-layout" class="c-heading-charlie">Layout</h2>
  <h4 class="c-heading-delta">Example: Basic Layout</h4>
  <div class="o-layout  o-layout--spaced">
    <div class="o-layout__item  u-width-1/5">
      <p class="c-text-body  u-margin-bottom-none">1. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
    </div>
    <div class="o-layout__item  u-width-1/5">
      <p class="c-text-body  u-margin-bottom-none">2. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
    </div>
    <div class="o-layout__item  u-width-1/5">
      <p class="c-text-body  u-margin-bottom-none">3. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
    </div>
    <div class="o-layout__item  u-width-1/5">
      <p class="c-text-body  u-margin-bottom-none">4. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
    </div>
    <div class="o-layout__item  u-width-1/5">
      <p class="c-text-body  u-margin-bottom-none">5. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
    </div>
  </div>
  <div class="o-layout  o-layout--spaced">
    <div class="o-layout__item  u-width-1/4">
      <p class="c-text-body  u-margin-bottom-none">1. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
    </div>
    <div class="o-layout__item  u-width-1/4">
      <p class="c-text-body  u-margin-bottom-none">2. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
    </div>
    <div class="o-layout__item  u-width-1/4">
      <p class="c-text-body  u-margin-bottom-none">3. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
    </div>
    <div class="o-layout__item  u-width-1/4">
      <p class="c-text-body  u-margin-bottom-none">4. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
    </div>
  </div>
  <div class="o-layout  o-layout--spaced">
    <div class="o-layout__item  u-width-1/3">
      <p class="c-text-body  u-margin-bottom-none">1. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
    </div>
    <div class="o-layout__item  u-width-1/3">
      <p class="c-text-body  u-margin-bottom-none">2. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
    </div>
    <div class="o-layout__item  u-width-1/3">
      <p class="c-text-body  u-margin-bottom-none">3. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
    </div>
  </div>
  <div class="o-layout  o-layout--spaced">
    <div class="o-layout__item  u-width-1/2">
      <p class="c-text-body  u-margin-bottom-none">1. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
    </div>
    <div class="o-layout__item  u-width-1/2">
      <p class="c-text-body  u-margin-bottom-none">2. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
    </div>
  </div>
  <div class="o-layout  o-layout--spaced">
    <div class="o-layout__item">
      <p class="c-text-body  u-margin-bottom-none">1. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
    </div>
  </div>

  <h4 class="c-heading-delta">Example: Reverse Layout</h4>
  <div class="o-layout  o-layout--reverse">
    <div class="o-layout__item  u-width-1/4">
      <p class="c-text-body  u-margin-bottom-none">1. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
    </div>
    <div class="o-layout__item  u-width-1/4">
      <p class="c-text-body  u-margin-bottom-none">2 Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
    </div>
    <div class="o-layout__item  u-width-1/4">
      <p class="c-text-body  u-margin-bottom-none">3 Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
    </div>
    <div class="o-layout__item  u-width-1/4">
      <p class="c-text-body  u-margin-bottom-none">4 Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
    </div>
  </div>
</section>
<section class="o-container  u-margin-bottom-large">
  <h2 class="c-heading-charlie">Media Object</h2>
  <div class="o-media">
    <div class="o-media__img">
      <img src="http://i.dailymail.co.uk/i/pix/2012/05/28/article-2151032-1355CE93000005DC-628_306x316.jpg" width="100px" />
    </div>
    <div class="o-media__body">
      Body
    </div>
  </div>
</section>
