<section class="o-container">
  <h2 id="core-lists" class="c-heading-charlie">Lists</h2>
  <section>
    <h3 class="c-heading-delta">Inline list</h3>
    <ul class="o-list-inline">
      <li class="o-list-inline__item">Item 1</li>
      <li class="o-list-inline__item">Item 2</li>
      <li class="o-list-inline__item">Item 3</li>
      <li class="o-list-inline__item">Item 4</li>
    </ul>
  </section>
  <section>
    <h3 class="c-heading-delta">Bare list</h3>
    <ul class="o-list-bare">
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
    </ul>
  </section>
  <section>
    <h3 class="c-heading-delta">Block list</h3>
    <ul class="o-list-block">
      <li class="o-list-block__item">Item 1</li>
      <li class="o-list-block__item">Item 2</li>
      <li class="o-list-block__item">Item 3</li>
      <li class="o-list-block__item">Item 4</li>
    </ul>
  </section>
</section>
