<!DOCTYPE html>
<!--[if IE 9 ]>                <html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
  {% include head.html %}

  <body>
    {% include header.html %}

    <main class="o-container">
      {{ content }}
    </main>

    {% include footer.html %}
    <script>
      document.getElementById('btn-loader').addEventListener('click', function() {
        [].map.call(document.querySelectorAll('.c-loader.sg-test-loader'), function(el) {
          el.classList.toggle('is-complete');
        });
      });

      document.getElementById('btn-loader-overlay').addEventListener('click', function() {
        [].map.call(document.querySelectorAll('.c-loader-overlay.sg-test-loader-overlay'), function(el) {
          el.classList.toggle('is-complete');
        });
      });
    </script>
  </body>
</html>
