/* ==========================================================================
   GENERIC / #FONT-FACE
   ========================================================================== */

@if (str-index(#{$global-font-family}, "Sky Text") != null) {
  /**
   * Define our custom Sky `@font-face` rules here in order to use them later on in
   * the project.
   *
   * We only output this if "Sky Text" is defined in the `$global-font-family`.
   */
  @font-face {
    font-family: "Sky Text";
    src: url("//www.sky.com/assets/fonts/sky-regular.woff") format("woff");
  }

  @font-face {
    font-family: "Sky Text";
    src: url("//www.sky.com/assets/fonts/sky-medium.woff") format("woff");
    font-weight: bold;
  }
}
