// =============================================================================
// TOOLS / TYPOGRAPHY
// =============================================================================

// Font-sizing and vertical rhythm mixin
// ===========================================

// Create a fully formed type style (sizing and vertical rhythm) by passing in a
// single value, e.g:
//
// .foo {
//     @include font-size(text-body);
// }
//
// legacy-warning to be removed in Toolkit@2.0.0

@mixin font($key, $variant:large, $legacy-warning:null) {
  $font-size: font-size($key, $variant, $legacy-warning);

  @include rem($font-size);
}

// px to rem generator
// ===========================================

// Generates a rem-based font-size with its pixel fallback e.g:
//
// .foo {
//     @include rem(20px);
// }
//
// Will output:
//
// .foo {
//     font-size: 20px;
//     font-size: 1rem;
// }

@mixin rem($value) {
  font-size: $value;
  font-size: ($value / $global-font-size) * 1rem;
}
